@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --complement_color: #393B4A;
  --background_pink:#f7f2f2 ;
  --cus_orange: #E07243;
  --big_text_size: 3rem;
  --footer_height: 60vh;
  --footer_head_height: 50vh;
  --button_green: #45987e;
  --major-green: #0DC58A;
  --generic-grey: #f4f4f3;
  --default-modal-padding: 50px;
  --disabled-button-color: #cfd9de;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: var(--complement_color);
}

h1, h2, h3, h4 {
  color: var(--complement_color);
}

.rocket-alert-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rocket-alert-modal-content img {
  width: 100px;
}
.rocket-alert-modal-content .messages-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rocket-alert-modal-content .messages-container h3 {
  color: var(--complement_color);
}
.rocket-alert-modal-content .messages-container p {
  margin-top: 0.3rem;
}
.rocket-alert-modal-content .actions-container {
  margin-top: 20px;
  width: 100%;
}

.button-one, .button-two {
  background-color: var(--button_green);
  padding: 0.7rem 0.9rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
}

.button-two {
  width: 100%;
}

.text-input-101 {
  padding: 0.7rem 0.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

.uncan-modal-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.uncan-modal-con img {
  width: 40px;
  height: 40px;
}
.uncan-modal-con p {
  margin-top: 0.9rem;
  text-align: center;
}

.v2-alert-modal-1a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.v2-alert-modal-1a p {
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
}
.v2-alert-modal-1a button {
  margin-top: 0.9rem;
}

.modal-section {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.opaque-modal-section {
  background-color: white;
}
.opaque-modal-section img {
  width: 30px;
  height: 30px;
}
.opaque-modal-section .message-txt {
  font-size: 0.9rem;
  margin-top: 0.9rem;
  color: var(--complement_color);
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-input {
  padding: 0.7rem 0.5rem;
  margin: 0.4rem 2.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

footer {
  margin-top: 3rem;
  width: 100%;
  min-height: var(--footer_height);
  background-color: var(--complement_color);
  display: flex;
  flex-direction: column;
}
footer .head {
  width: 100%;
  display: grid;
  padding: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
}
footer .head .title {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}
footer .head .f-one .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: var(--footer_head_height);
}
footer .head .f-one .content .gridder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .head .f-one .content .gridder img {
  width: 20px;
  height: 20px;
}
footer .head .f-one .content .gridder h3 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
footer .head .f-one .content .codebee {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
}
footer .head .a-list {
  display: flex;
  flex-direction: column;
  height: var(--footer_head_height);
  align-items: center;
  justify-content: center;
}
footer .head .a-list .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: flex-start;
}
footer .head .a-list .content a {
  text-align: start;
  margin-top: 0.4rem;
  color: #6e7072;
  text-decoration: none;
  font-size: 0.8rem;
}
footer .head .f-four {
  display: flex;
  flex-direction: column;
  height: var(--footer_head_height);
  align-items: center;
  justify-content: center;
}
footer .head .f-four .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: flex-start;
}
footer .head .f-four .content .follow-us .icon-list {
  margin-top: 0.4rem;
}
footer .head .f-four .content .follow-us .icon-list i {
  color: #6e7072;
  cursor: pointer;
}
footer .head .f-four .content .follow-us .icon-list .end {
  margin-left: 0.4rem;
}
footer .head .f-four .content .images-by {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}
footer .head .f-four .content .images-by p {
  font-size: 0.8rem;
  color: white;
}
footer .head .f-four .content .images-by img {
  margin-top: 0.3rem;
  width: 70px;
  cursor: pointer;
}
footer .head .f-four .content .images-by a {
  color: #6e7072;
  font-size: 0.7rem;
}
footer .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .bottom .content {
  display: flex;
  flex-direction: row;
}
footer .bottom .content img {
  width: 70px;
}
footer .bottom .content p {
  font-size: 0.8rem;
  color: #b4b7b8;
}
footer .bottom .content .side {
  margin-left: 0.5rem;
}

.emptiness {
  height: 70vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto 0.9rem;
}
.emptiness .emp-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.emptiness .emp-content i {
  font-size: 2.5rem;
  color: rgba(3, 21, 54, 0.9019607843);
}
.emptiness .emp-content .txt-ooh {
  font-family: "Inter", sans-serif;
  margin-top: 0.5rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: lightblue;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container .leftparent {
  display: flex;
  align-items: center;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0 0px 0px;
  height: 100vh;
}
.container .leftparent .navigations {
  width: 100%;
}
.container .leftparent .navigations .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 30px;
  cursor: pointer;
  width: 90%;
  margin-top: 5px;
  padding: 20px 10px;
  border-radius: 30px;
}
.container .leftparent .navigations .navigation i {
  color: #525254;
  align-self: center;
  font-size: 0.8rem;
  margin-left: 10px;
}
.container .leftparent .navigations .navigation p {
  margin-left: 10px;
  font-size: 0.9rem;
  color: black;
}
.container .leftparent .navigations .log-out-btn {
  margin-top: 30px;
}
.container .leftparent .navigations .log-out-btn i {
  color: red;
}
.container .leftparent .navigations .active-btn {
  background-color: #f7f2f2;
}
.container .leftparent .user-details {
  width: 90%;
  margin-bottom: 20px;
  position: relative;
  padding: 20px 10px;
  background-color: #f7f2f2;
}
.container .leftparent .user-details .details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container .leftparent .user-details .details i {
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}
.container .leftparent .user-details .details p {
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .rightparent {
  width: 100%;
  height: 100vh;
  left: 100px;
  border-left: 1px solid black;
  display: none;
  flex-direction: column;
}
.container .rightparent .top-content {
  height: 15vh;
}
.container .rightparent .top-content .top-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 15vh;
}
.container .rightparent .top-content .top-container .top-left {
  width: 70%;
}
.container .rightparent .top-content .top-container .top-left .left-con {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 20px;
}
.container .rightparent .top-content .top-container .top-left .left-con img {
  width: 20px;
  height: 20px;
  justify-self: center;
  align-self: center;
}
.container .rightparent .top-content .top-container .top-left .left-con #mobile {
  display: none;
}
.container .rightparent .top-content .top-container .top-left .left-con .left-right {
  align-self: center;
  padding: 0 10px;
}
.container .rightparent .top-content .top-container .top-left .left-con .left-right h2 {
  color: var(--complement_color);
}
.container .rightparent .top-content .top-container .top-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.container .rightparent .top-content .top-container .top-right #publish-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 2rem;
  background-color: var(--major-green);
  cursor: pointer;
  font-size: 0.9rem;
}
.container .rightparent .top-content .top-container .top-right #publish-btn a {
  color: white;
  text-decoration: none;
}
.container #new-poll .bottom-content {
  height: 85vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.container #new-poll .bottom-content .bottom-left {
  width: 80%;
  height: 100%;
  background-color: #fafbfc;
  background-color: white;
  background-image: url(/static/img/grid-image.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.container #new-poll .bottom-content .bottom-left .field-container::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fafbfc;
}
.container #new-poll .bottom-content .bottom-left .field-container::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--complement_color);
}
.container #new-poll .bottom-content .bottom-left .field-container {
  position: relative;
  overflow-y: scroll;
  margin: auto;
  width: 100%;
  scrollbar-color: white;
}
.container #new-poll .bottom-content .bottom-left .field-container .field {
  width: 90%;
  max-width: 170px;
  background-color: white;
  min-height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(193, 190, 190);
  margin: auto;
  margin-bottom: 10px;
}
.container #new-poll .bottom-content .bottom-left .field-container .field p {
  color: black;
  font-family: "Inter", sans-serif;
}
.container #new-poll .bottom-content .bottom-left .field-container .selected {
  border: 3px solid black;
}
.container #new-poll .bottom-content .bottom-left .field-container .selected p {
  color: black;
  font-weight: 600;
}
.container #new-poll .bottom-content .bottom-left .create-container {
  bottom: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.container #new-poll .bottom-content .bottom-left .create-container #btn-clear {
  width: 100px;
  padding: 9px 7px;
  bottom: 0;
  margin-left: 10px;
  border: 1px solid black;
  background-color: white;
  font-size: 0.8rem;
}
.container #new-poll .bottom-content .bottom-left .create-container .btn-new-field {
  position: relative;
  bottom: 0;
  align-self: center;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 7px;
  width: 100px;
  cursor: pointer;
  border: 1px solid black;
}
.container #new-poll .bottom-content .bottom-right {
  width: 20%;
  height: 100%;
  background-color: #f8f8f8;
}
.container #new-poll .bottom-content .bottom-right .poll-header {
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
}
.container #new-poll .bottom-content .bottom-right .f-prop {
  padding: 30px 20px;
}
.container #new-poll .bottom-content .bottom-right .f-prop .feildname p {
  font-size: 0.8rem;
}
.container #new-poll .bottom-content .bottom-right .f-prop input[type=text] {
  padding: 5px;
}
.container #new-poll .bottom-content .bottom-right .f-prop input[type=checkbox] {
  margin: 20px 0 10px;
}
.container #new-poll .bottom-content .bottom-right .f-prop h3 {
  margin-bottom: 5px;
}
.container #new-poll .bottom-content .bottom-right .f-prop input[type=radio] {
  margin: 7px 0;
  color: black;
}
.container #new-poll .bottom-content .bottom-right .f-prop .ops {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container #new-poll .bottom-content .bottom-right .f-prop .ops button {
  width: 90%;
  max-width: 130px;
  padding: 7px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.container #new-poll .bottom-content .bottom-right .f-prop .ops #btn-add-below {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.container #new-poll .bottom-content .bottom-right .f-prop .ops #btn-add-below i {
  color: black;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.container #new-poll .bottom-content .bottom-right .f-prop .ops .delete-btn {
  color: white;
  background-color: #f55050;
}
.container #new-poll .bottom-content .bottom-right .f-prop .ops .delete-btn i {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.container #my-polls .bottom-content::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fafbfc;
}
.container #my-polls .bottom-content::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--complement_color);
}
.container #my-polls .bottom-content {
  overflow-y: scroll;
  display: flex;
}
.container #my-polls .bottom-content .poll-entity-container {
  width: 100%;
  margin: auto;
  padding: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 10px;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity {
  width: 80%;
  max-width: 250px;
  background-color: #F8FAFB;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .top-representation {
  background-color: #F8FAFB;
  width: 99.8%;
  padding: 0.8rem;
  height: 170px;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .top-representation .top-table-container {
  background-color: white;
  width: 100%;
  height: 100px;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation {
  background-color: white;
  width: 99.8%;
  padding: 0.8rem;
  height: -moz-max-content;
  height: max-content;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation .p-n {
  font-size: 1.2rem;
  color: var(--complement_color);
  font-weight: 600;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation .p-c {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 5px;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation .c-a {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 5px;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation .status-indicator-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation .status-indicator-container .status-indicator {
  margin-top: 5px;
  border: var(--major-green) 0.5px solid;
  background-color: white;
  width: -moz-max-content;
  width: max-content;
  padding: 0.2rem 0.3rem;
  border-radius: 20px;
  align-self: flex-end;
  justify-self: flex-end;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity .bottom-representation .status-indicator-container .status-indicator p {
  color: var(--major-green);
  font-size: 0.8rem;
}
.container #my-polls .bottom-content .poll-entity-container .poll-entity:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.container #my-polls .bottom-content .all-polls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.container #my-polls .bottom-content .all-polls .poll {
  width: 70%;
  margin: 10px 0;
  padding: 20px 20px;
  background-color: #ffffff;
  box-shadow: -1px 1px #efece8;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container #my-polls .bottom-content .all-polls .poll .poll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-self: center;
}
.container #my-polls .bottom-content .all-polls .poll .poll-wrapper .poll-name {
  font-size: 0.95rem;
}
.container #my-polls .bottom-content .all-polls .poll .poll-wrapper .poll-code {
  font-size: 0.8rem;
  color: #595857;
}
.container #my-polls .bottom-content .all-polls .poll .right {
  display: flex;
  flex-direction: row;
}
.container #my-polls .bottom-content .all-polls .poll .right .delete-poll {
  color: red;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
}
.container #my-polls .bottom-content .all-polls .poll .right .redirect {
  color: black;
  display: flex;
  margin: 0 10px;
  cursor: pointer;
}
.container #contact-us .bottom-content {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.container #contact-us .bottom-content .bottom-left {
  height: 100%;
  width: 50%;
  align-items: center;
  display: flex;
}
.container #contact-us .bottom-content .bottom-left .content {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.container #contact-us .bottom-content .bottom-left .content .header-content h3 {
  opacity: 0.9;
}
.container #contact-us .bottom-content .bottom-left .content .header-content p {
  font-size: 0.75rem;
  opacity: 0.7;
  margin-top: 0.2rem;
  line-height: 1.4;
}
.container #contact-us .bottom-content .bottom-left .content .details .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.7rem 0;
}
.container #contact-us .bottom-content .bottom-left .content .details .detail .image {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}
.container #contact-us .bottom-content .bottom-left .content .details .detail .image i {
  color: rgba(3, 21, 54, 0.9019607843);
  margin: auto;
  position: relative;
}
.container #contact-us .bottom-content .bottom-left .content .details .detail p {
  margin-left: 0.5rem;
}
.container #contact-us .bottom-content .bottom-left .content .details .detail p span {
  font-weight: 700;
  opacity: 0.9;
}
.container #contact-us .bottom-content .bottom-right {
  width: 50%;
  max-width: 450px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
}
.container #contact-us .bottom-content .bottom-right .content {
  width: 100%;
  margin: auto auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.container #contact-us .bottom-content .bottom-right .content p {
  color: black;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.7rem;
}
.container #contact-us .bottom-content .bottom-right .content label {
  display: none;
}
.container #contact-us .bottom-content .bottom-right .content .text-input {
  background-color: #f7f2f2;
  border: none;
  border-radius: 15px;
  outline: none;
  margin: 0.3rem 0;
  padding: 0.7rem;
  width: 100%;
  color: rgb(122, 118, 118);
  color: black;
}
.container #contact-us .bottom-content .bottom-right .content input[type=submit] {
  background-color: rgba(3, 21, 54, 0.9019607843);
  border: none;
  padding: 0.7rem;
  margin-top: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.container #rpolls .top-content .left-right p {
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
.container #rpolls .bottom-content::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fafbfc;
}
.container #rpolls .bottom-content::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: var(--complement_color);
}
.container #rpolls .bottom-content {
  overflow-y: scroll;
  background-color: white;
}
.container #rpolls .bottom-content .all-polls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.container #rpolls .bottom-content .all-polls .reg-poll {
  width: 70%;
  margin: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container #rpolls .bottom-content .all-polls .reg-poll header {
  padding: 7px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container #rpolls .bottom-content .all-polls .reg-poll header .poll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-self: center;
}
.container #rpolls .bottom-content .all-polls .reg-poll header .poll-wrapper .poll-name {
  font-size: 0.95rem;
}
.container #rpolls .bottom-content .all-polls .reg-poll header .poll-wrapper .poll-code {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  color: #595857;
}
.container #rpolls .bottom-content .all-polls .reg-poll header .right {
  display: flex;
  flex-direction: row;
}
.container #rpolls .bottom-content .all-polls .reg-poll header .right button {
  background-color: #29abe2;
  color: white;
  border: none;
  outline: none;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.container #rpolls .bottom-content .all-polls .reg-poll header .right i {
  color: #393B4A;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body {
  margin-top: 0.5rem;
  padding: 0 0.8rem;
  background-color: #f2f2f2;
  height: 0;
  transition: all 0.2s linear;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .field_values_content {
  padding: 5px 10px;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .field_values_content .field {
  margin: 0.7rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .field_values_content .field .value_name {
  font-size: 0.8rem;
  font-weight: 600;
  color: #393B4A;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .field_values_content .field .value_value {
  font-size: 0.8rem;
  color: #525254;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .actions {
  width: 100%;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .actions a {
  text-decoration: none;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .actions i {
  cursor: pointer;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .actions .edit-entry {
  color: #393B4A;
}
.container #rpolls .bottom-content .all-polls .reg-poll .accordion-body .actions .delete-entry {
  color: red;
  margin-left: 1.1rem;
}
.container #sort-doc .bottom-content {
  height: 85vh;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.container #sort-doc .bottom-content .bottom-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container {
  width: 90%;
  max-width: 250px;
  height: 300px;
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container .top-file-show-case {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  background-color: rgb(244, 244, 244);
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container .top-file-show-case .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container .top-file-show-case .content i {
  font-size: 2rem;
  color: var(--complement_color);
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container .bottom-file-show-case {
  padding: 0.3rem;
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container .bottom-file-show-case .doc-title {
  color: var(--complement_color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container #sort-doc .bottom-content .bottom-left .file-show-case-container .bottom-file-show-case button {
  margin-top: 0.9rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--complement_color);
  color: white;
  border: none;
  cursor: pointer;
}
.container #sort-doc .bottom-content .bottom-right {
  width: 50%;
}
.container .active-screen {
  display: flex;
}

.choose-create-option-content {
  display: flex;
  flex-direction: column;
}
.choose-create-option-content .showcase-modal {
  padding: 0.5rem 0;
  border-bottom: 0.5px solid var(--complement_color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.choose-create-option-content .showcase-modal .modal-title-txt {
  color: var(--complement_color);
  font-family: "inter", sans-serif;
}
.choose-create-option-content .showcase-modal i {
  font-size: 1.2rem;
  cursor: pointer;
}
.choose-create-option-content .actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.9rem;
}
.choose-create-option-content .actions .generic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}
.choose-create-option-content .actions .generic svg {
  fill: #535353;
  width: 30px;
  height: 30px;
}
.choose-create-option-content .actions .explanation-container .explanation-header {
  font-size: 1.2rem;
  margin-top: 0.9rem;
}
.choose-create-option-content .actions .explanation-container .explanation {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.choose-create-option-content .actions .dmark-content {
  width: 50%;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.3rem;
}
.choose-create-option-content .actions .dmark-content.selected {
  border: 1px solid var(--complement_color);
}
.choose-create-option-content .actions .dmark-content.selected .generic {
  background-color: var(--generic-grey);
}
.choose-create-option-content .actions .left-content {
  width: 50%;
}
.choose-create-option-content .action-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.choose-create-option-content .action-btns button {
  margin-top: 0.9rem;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-container .modal-box {
  background-color: white;
  width: 80%;
  max-width: 300px;
  padding: 30px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.modal-container .modal-box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.9rem;
}
.modal-container .modal-box .content p {
  text-align: center;
  font-size: 0.9rem;
}
.modal-container .modal-box .content .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.7rem;
  width: 100%;
}
.modal-container .modal-box .content .button-container #ok-btn.visible {
  display: block;
}
.modal-container .modal-box .content .button-container #ok-btn {
  background-color: #29abe2;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 80px;
  display: none;
}
.modal-container .modal-box .content .button-container #cancel-btn.visible {
  display: block;
}
.modal-container .modal-box .content .button-container #cancel-btn {
  background-color: white;
  border-radius: 5px;
  color: black;
  height: 30px;
  width: 80px;
  display: none;
  margin-left: 0.6rem;
}

.delete-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.delete-modal .delete-box {
  background-color: white;
  width: 80%;
  max-width: 300px;
  padding: 30px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.delete-modal .delete-box .delete-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.9rem;
}
.delete-modal .delete-box .delete-content p {
  text-align: center;
  font-size: 0.9rem;
}
.delete-modal .delete-box .delete-content .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  width: 100%;
}
.delete-modal .delete-box .delete-content .button-container #ok-del {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 80px;
  display: block;
  cursor: pointer;
}
.delete-modal .delete-box .delete-content .button-container #cancel-del {
  margin-left: 0.8rem;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid black;
  color: black;
  height: 30px;
  width: 80px;
  display: block;
  cursor: pointer;
}
.delete-modal .delete-box .prog-check {
  display: none;
  flex-direction: column;
  align-items: center;
}
.delete-modal .delete-box .prog-check .show-status {
  margin-bottom: 0.9rem;
}
.delete-modal .delete-box .prog-check .show-status #spinner {
  display: none;
}
.delete-modal .delete-box .prog-check .show-status #check {
  color: rgb(14, 207, 14);
  font-size: 2.5rem;
  display: none;
}
.delete-modal .delete-box .prog-check #finish-btn {
  background-color: var(--major-green);
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 80px;
  display: block;
  cursor: pointer;
  margin-top: 0.8rem;
}
.delete-modal .delete-box .prog-check.visible {
  display: flex;
}
.delete-modal .delete-box .delete-content.visible {
  display: flex;
}

.delete-entry-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.delete-entry-modal .delete-entry-box {
  background-color: white;
  width: 80%;
  max-width: 300px;
  padding: 30px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.delete-entry-modal .delete-entry-box .delete-entry-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.9rem;
}
.delete-entry-modal .delete-entry-box .delete-entry-content p {
  text-align: center;
  font-size: 0.9rem;
}
.delete-entry-modal .delete-entry-box .delete-entry-content .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
  width: 100%;
}
.delete-entry-modal .delete-entry-box .delete-entry-content .button-container #ok-del-entry {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 80px;
  display: block;
  cursor: pointer;
}
.delete-entry-modal .delete-entry-box .delete-entry-content .button-container #cancel-del-entry {
  margin-left: 0.8rem;
  background-color: white;
  border-radius: 5px;
  border: 0.5px solid black;
  color: black;
  height: 30px;
  width: 80px;
  display: block;
  cursor: pointer;
}
.delete-entry-modal .delete-entry-box .prog-check-entry {
  display: none;
  flex-direction: column;
  align-items: center;
}
.delete-entry-modal .delete-entry-box .prog-check-entry .show-status-entry {
  margin-bottom: 0.9rem;
}
.delete-entry-modal .delete-entry-box .prog-check-entry .show-status-entry #entry-spinner {
  display: none;
}
.delete-entry-modal .delete-entry-box .prog-check-entry .show-status-entry #check-entry {
  color: rgb(14, 207, 14);
  font-size: 2.5rem;
  display: none;
}
.delete-entry-modal .delete-entry-box .prog-check-entry #finish-btn-entry {
  background-color: #29abe2;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 80px;
  display: block;
  cursor: pointer;
  margin-top: 0.8rem;
}
.delete-entry-modal .delete-entry-box .prog-check-entry.visible {
  display: flex;
}
.delete-entry-modal .delete-entry-box .delete-entry-content.visible {
  display: flex;
}

.delete-entry-modal.visible {
  display: flex;
}

.delete-modal.visible {
  display: flex;
}

.modal-container.visible {
  display: flex;
}

.log-out-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.log-out-modal .modal-box {
  background-color: white;
  width: 80%;
  max-width: 300px;
  padding: 30px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.log-out-modal .modal-box .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.2rem;
}
.log-out-modal .modal-box .actions p {
  font-size: 0.75rem;
  cursor: pointer;
}
.log-out-modal .modal-box .actions a {
  text-decoration: none;
  margin-left: 0.7rem;
}
.log-out-modal .modal-box .actions a #t-log-out {
  color: red;
}

.log-out-modal.visible {
  display: flex;
}

@media screen and (max-width: 950px) {
  .container .leftparent {
    position: absolute;
    top: -100vh;
    left: 2vw;
  }
  .container .leftparent.active {
    position: absolute;
    padding: 15px 0;
    border-radius: 7px;
    top: 10vh;
    height: 90vh;
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 250px;
  }
  .container .leftparent.active .user-details {
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 0;
  }
  .container .leftparent.active #user-round {
    font-size: 1.6rem;
    margin-bottom: auto;
    padding: 10px 10px;
  }
  .container .rightparent {
    border: none;
  }
  .container .rightparent .top-content {
    height: 10vh;
  }
  .container .rightparent .top-content .top-container {
    height: 10vh;
  }
  .container .rightparent .top-content .left-con {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container .rightparent .top-content .left-con #mobile {
    display: flex !important;
  }
  .container .rightparent .top-content .left-con #icon-display {
    display: none;
  }
  .container .rightparent .bottom-content .bottom-left .field-container .field {
    width: 85%;
  }
  .container .rightparent .bottom-content .bottom-left .create-container {
    padding: 5px;
  }
  .container .rightparent .bottom-content .bottom-left .create-container button p {
    font-size: 0.7rem;
  }
  .container .rightparent .bottom-content .bottom-right input[type=text] {
    outline: 0;
    width: 90%;
  }
  .container #new-poll .bottom-content {
    height: 90vh;
  }
}
@media screen and (max-width: 530px) {
  .rightparent .top-content .top-container .top-right #publish-btn {
    margin-right: 0.9rem !important;
  }
  .container #contact-us .bottom-content {
    flex-direction: column;
  }
  .container #contact-us .bottom-content .bottom-left {
    width: 100%;
  }
  .container #contact-us .bottom-content .bottom-right {
    align-self: center;
    width: 90%;
  }
}
@media screen and (max-width: 1260px) {
  .container #new-poll .bottom-content .bottom-left {
    width: 75%;
  }
  .container #new-poll .bottom-content .bottom-right {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .container #new-poll .bottom-content .bottom-left {
    width: 70%;
  }
  .container #new-poll .bottom-content .bottom-right {
    width: 30%;
  }
}
@media screen and (max-width: 450px) {
  .container #new-poll .bottom-content .bottom-left {
    width: 65%;
  }
  .container #new-poll .bottom-content .bottom-right {
    width: 35%;
  }
}
@media screen and (max-width: 360px) {
  .container #new-poll .bottom-content .bottom-left {
    width: 60%;
  }
  .container #new-poll .bottom-content .bottom-right {
    width: 40%;
  }
}/*# sourceMappingURL=dash.css.map */