@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --complement_color: #393B4A;
  --background_pink:#f7f2f2 ;
  --cus_orange: #E07243;
  --big_text_size: 3rem;
  --footer_height: 60vh;
  --footer_head_height: 50vh;
  --button_green: #45987e;
  --major-green: #0DC58A;
  --generic-grey: #f4f4f3;
  --default-modal-padding: 20px;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-one {
  background-color: green;
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.text-input-101 {
  padding: 0.7rem 0.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

.uncan-modal-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.uncan-modal-con img {
  width: 40px;
  height: 40px;
}
.uncan-modal-con p {
  margin-top: 0.9rem;
  text-align: center;
}

.v2-alert-modal-1a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.v2-alert-modal-1a p {
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
}
.v2-alert-modal-1a button {
  margin-top: 0.9rem;
}

.modal-section {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 20px 100px;
}

.main-section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: row-reverse;
}
.main-section .left-container {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-section .left-container .publish-message {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  width: 80%;
  color: var(--complement-color);
  opacity: 0.7;
}
.main-section .left-container .table-preview-container {
  width: 90%;
  max-width: 400px;
  min-height: 100px;
  background-color: var(--generic-grey);
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .left-container .table-preview-container .table-preview {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section .left-container .table-preview-container .table-preview table {
  border-collapse: collapse;
  width: 95%;
  font-size: 0.9rem;
}
.main-section .left-container .table-preview-container .table-preview #empty-header {
  width: 3rem;
}
.main-section .left-container .table-preview-container .table-preview th, .main-section .left-container .table-preview-container .table-preview td {
  border: 0.7px solid black;
  text-align: center;
}
.main-section .right-container {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
}
.main-section .right-container .form-holder {
  margin-top: 30px;
  width: 100%;
}
.main-section .right-container .form-holder form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-section .right-container .form-holder input[type=text] {
  width: 80%;
}
.main-section .right-container .form-holder .append-suggest {
  margin-top: 20px;
  font-size: 0.8rem;
  opacity: 0.6;
}
.main-section .right-container .form-holder input[type=file] {
  margin-top: 0.5rem;
}
.main-section .right-container .form-holder button {
  margin-top: 20px;
}

.explanation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.explanation-section .header-text {
  width: 70%;
  font-size: 2rem;
  max-width: 400px;
  color: var(--complement-color);
}
.explanation-section .top-explanation {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.explanation-section .top-explanation .top-left {
  width: 50%;
  padding: 0.9rem;
}
.explanation-section .top-explanation .top-left img {
  width: 100%;
}
.explanation-section .top-explanation .top-right {
  width: 50%;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explanation-section .top-explanation .top-right .breaker {
  font-weight: 900;
  line-height: 2;
}
.explanation-section .top-explanation .top-right p {
  text-align: start;
  font-size: 0.9rem;
  line-height: 1.5;
}

.sample-items-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.sample-items-section p {
  font-size: 0.9rem;
  max-width: 400px;
  text-align: center;
  margin-top: 0.8rem;
  opacity: 0.7;
}
.sample-items-section img {
  width: 90%;
}
.sample-items-section .video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sample-items-section .video-container h3 {
  color: var(--complement-color);
}
.sample-items-section .video-container iframe {
  margin-top: 10px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-container .modal-box {
  background-color: white;
  min-width: 300px;
  padding: 30px 50px;
  border-radius: 5px;
}
.modal-container .modal-box p {
  opacity: 0.7;
}

.modal-container.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-container.visible .progress-bar-con {
  display: none;
}
.modal-container.visible .display-result {
  display: none;
}
.modal-container.visible .progress-bar-con.visible {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-container.visible .progress-bar-con.visible .progress-bar {
  animation: spin 2s linear infinite;
}
.modal-container.visible .progress-bar-con.visible .progress-bar i {
  font-size: 2rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-container.visible .progress-bar-con.visible .progress-details p {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 1.2rem;
}
.modal-container.visible .display-result.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-container.visible .display-result.visible i {
  font-size: 3rem;
  color: green;
}
.modal-container.visible .display-result.visible .txt-created {
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
.modal-container.visible .display-result.visible .details {
  margin-top: 1.2rem;
  width: 100%;
}
.modal-container.visible .display-result.visible .details .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  background-color: azure;
  justify-content: space-between;
  padding: 0.8rem;
}
.modal-container.visible .display-result.visible .details .detail .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal-container.visible .display-result.visible .details .detail .left p {
  font-size: 0.9rem;
}
.modal-container.visible .display-result.visible .details .detail .left .value {
  font-size: 0.9rem;
  margin-left: 5px;
}
.modal-container.visible .display-result.visible .details .detail .left .poll-link {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0.5rem;
  position: relative;
  text-decoration: underline;
}
.modal-container.visible .display-result.visible .details .detail i {
  font-size: 0.9rem;
}
.modal-container.visible .display-result.visible .bottom {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-container.visible .display-result.visible .bottom p {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 1.2rem;
}
.modal-container.visible .display-result.visible .bottom button {
  outline: none;
  border: none;
  background-color: #29abe2;
  padding: 0.6rem 1.7rem;
  color: white;
  border-radius: 5px;
  margin-top: 1.3rem;
  cursor: pointer;
}
.modal-container.visible .warning {
  display: none;
}
.modal-container.visible .warning.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-container.visible .warning.visible p {
  color: red;
}
.modal-container.visible .warning.visible button {
  outline: none;
  border: none;
  background-color: #29abe2;
  padding: 0.6rem 1.7rem;
  color: white;
  border-radius: 5px;
  margin-top: 1.3rem;
  cursor: pointer;
}

.ex-dg-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.ex-dg-modal i {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
.ex-dg-modal .m-box {
  background-color: white;
  width: 90%;
  max-width: 500px;
  margin: 5% 5%;
  border-radius: 5px;
  background-color: white;
}
.ex-dg-modal .m-box img {
  width: 100%;
}

.ex-dg-modal.visible {
  display: flex;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .left-content {
    width: 90%;
    margin: 2rem 0.2rem;
  }
  .container .right-content {
    width: 90%;
  }
  .container .right-content .table-container table {
    width: 100%;
  }
  .container .right-content .table-container #empty-header {
    width: 1.5rem;
  }
  .container .right-content .get-name input[type=submit] {
    padding: 0.7rem;
  }
}
@media screen and (max-width: 800px) {
  .section {
    padding: 30px;
  }
}
@media screen and (max-width: 650px) {
  .section {
    padding: 20px;
  }
  .main-section {
    display: flex;
    flex-direction: column;
  }
  .main-section .left-container {
    width: 100%;
    min-height: -moz-max-content;
    min-height: max-content;
    align-items: flex-start;
    text-align: start;
  }
  .main-section .left-container .table-preview-container {
    width: 100%;
    max-width: 100%;
  }
  .main-section .right-container {
    width: 100%;
    min-height: -moz-max-content;
    min-height: max-content;
    align-items: flex-start;
    margin-top: 30px;
  }
  .main-section .right-container .user-attribute {
    align-self: flex-start;
  }
  .main-section .right-container input[type=text] {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .explanation-section .top-explanation {
    display: flex;
    flex-direction: column;
  }
  .explanation-section .top-explanation .top-left {
    width: 100%;
  }
  .explanation-section .top-explanation .top-right {
    width: 100%;
  }
}/*# sourceMappingURL=pub.css.map */