@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap");
:root {
  --complement_color: #393B4A;
  --background_pink:#f7f2f2 ;
  --cus_orange: #E07243;
  --big_text_size: 3rem;
  --footer_height: 60vh;
  --footer_head_height: 50vh;
  --button_green: #45987e;
  --major-green: #0DC58A;
  --generic-grey: #f4f4f3;
  --default-modal-padding: 50px;
  --disabled-button-color: #cfd9de;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: var(--complement_color);
}

.rocket-alert-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rocket-alert-modal-content img {
  width: 100px;
}
.rocket-alert-modal-content .messages-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rocket-alert-modal-content .messages-container h3 {
  color: var(--complement_color);
}
.rocket-alert-modal-content .messages-container p {
  margin-top: 0.3rem;
}
.rocket-alert-modal-content .actions-container {
  margin-top: 20px;
  width: 100%;
}

.button-one, .button-two {
  background-color: var(--button_green);
  padding: 0.7rem 0.9rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
}

.button-two {
  width: 100%;
}

.text-input-101 {
  padding: 0.7rem 0.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

.uncan-modal-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.uncan-modal-con img {
  width: 40px;
  height: 40px;
}
.uncan-modal-con p {
  margin-top: 0.9rem;
  text-align: center;
}

.v2-alert-modal-1a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.v2-alert-modal-1a p {
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
}
.v2-alert-modal-1a button {
  margin-top: 0.9rem;
}

.modal-section {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.opaque-modal-section {
  background-color: white;
}
.opaque-modal-section img {
  width: 30px;
  height: 30px;
}
.opaque-modal-section .message-txt {
  font-size: 0.9rem;
  margin-top: 0.9rem;
  color: var(--complement_color);
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-input {
  padding: 0.7rem 0.5rem;
  margin: 0.4rem 2.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

footer {
  margin-top: 3rem;
  width: 100%;
  min-height: var(--footer_height);
  background-color: var(--complement_color);
  display: flex;
  flex-direction: column;
}
footer .head {
  width: 100%;
  display: grid;
  padding: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
}
footer .head .title {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}
footer .head .f-one .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: var(--footer_head_height);
}
footer .head .f-one .content .gridder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .head .f-one .content .gridder img {
  width: 20px;
  height: 20px;
}
footer .head .f-one .content .gridder h3 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
footer .head .f-one .content .codebee {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
}
footer .head .a-list {
  display: flex;
  flex-direction: column;
  height: var(--footer_head_height);
  align-items: center;
  justify-content: center;
}
footer .head .a-list .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: flex-start;
}
footer .head .a-list .content a {
  text-align: start;
  margin-top: 0.4rem;
  color: #6e7072;
  text-decoration: none;
  font-size: 0.8rem;
}
footer .head .f-four {
  display: flex;
  flex-direction: column;
  height: var(--footer_head_height);
  align-items: center;
  justify-content: center;
}
footer .head .f-four .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: flex-start;
}
footer .head .f-four .content .follow-us .icon-list {
  margin-top: 0.4rem;
}
footer .head .f-four .content .follow-us .icon-list i {
  color: #6e7072;
  cursor: pointer;
}
footer .head .f-four .content .follow-us .icon-list .end {
  margin-left: 0.4rem;
}
footer .head .f-four .content .images-by {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}
footer .head .f-four .content .images-by p {
  font-size: 0.8rem;
  color: white;
}
footer .head .f-four .content .images-by img {
  margin-top: 0.3rem;
  width: 70px;
  cursor: pointer;
}
footer .head .f-four .content .images-by a {
  color: #6e7072;
  font-size: 0.7rem;
}
footer .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .bottom .content {
  display: flex;
  flex-direction: row;
}
footer .bottom .content img {
  width: 70px;
}
footer .bottom .content p {
  font-size: 0.8rem;
  color: #b4b7b8;
}
footer .bottom .content .side {
  margin-left: 0.5rem;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .top-content {
  width: 100%;
  min-height: 50vh;
  background-image: url(/static/img/soft-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
main .top-content .info-display {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .top-content .info-display .left-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .top-content .info-display .left-info img {
  width: 20px;
  height: 20px;
}
main .top-content .info-display .left-info p {
  margin-left: 1rem;
  color: white;
  font-family: "Inter", sans-serif;
}
main .top-content .info-display .right-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .top-content .info-display .right-info .name-info {
  color: white;
  font-size: 0.9rem;
}
main .top-content .info-display .right-info .user-initials-container {
  padding: 0.6rem;
  background-color: var(--major-green);
  margin-left: 0.9rem;
  border-radius: 50%;
}
main .top-content .info-display .right-info .user-initials-container p {
  font-size: 0.9rem;
  color: var(--complement-color);
}
main .middle-content {
  width: 70%;
  min-height: 200px;
  background-color: white;
  position: absolute;
}
main .bottom-content {
  background-color: #F3F5F4;
  width: 100%;
  min-height: 50vh;
}

.banner-section {
  width: 100%;
  min-height: 40vh;
  background-image: url(/static/img/soft-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.banner-section .banner-content {
  position: absolute;
  min-height: 40vh;
  align-self: center;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-section .banner-content h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}
.banner-section .banner-content .center-details {
  display: flex;
  flex-direction: row;
  padding: 0.9rem;
}
.banner-section .banner-content .center-details .det {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner-section .banner-content .center-details .det i {
  color: white;
  font-size: 0.7rem;
}
.banner-section .banner-content .center-details .det p {
  color: white;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
}
.header-section .cancel-btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.header-section .cancel-btn:hover {
  background-color: red;
  color: white;
  transition: 0.5s all ease-in-out;
}
.header-section .header {
  display: flex;
  flex-direction: row;
}
.header-section .header .h-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-section .header .h-display p {
  font-size: 0.9rem;
}
.header-section .header .h-display .poll-name {
  margin-left: 5px;
  font-size: 1.2rem;
}
.header-section .header .detail {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-section .header .detail .des-img {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c6c3bd;
  width: 20px;
  height: 20px;
  font-size: 0.9rem;
  color: white;
}
.header-section .header .detail p {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.hero-section .hero-image-container {
  width: 100%;
  min-height: 40vh;
  overflow-y: visible;
  position: relative;
  background-image: url(/static/img/soft-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section .hero-image-container .hero-image {
  display: none;
  width: 100%;
  min-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.hero-section .hero-image-container .overlay {
  width: 100%;
  min-height: 40vh;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.hero-section .content-container {
  width: 100%;
  min-height: 40vh;
  display: flex;
  position: absolute;
  top: 0;
}
.hero-section .content-container .content-header {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3vh;
  gap: 15px;
  display: none;
}
.hero-section .content-container .content-header img {
  width: 20px;
  height: 20px;
}
.hero-section .content-container .content-header .content-title {
  color: white;
  font-size: 0.9rem;
}
.hero-section .content-container .content-center {
  position: absolute;
  align-self: center;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-section .content-container .content-center h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}
.hero-section .content-container .content-center .center-details {
  display: flex;
  flex-direction: row;
  padding: 0.9rem;
}
.hero-section .content-container .content-center .center-details .det {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-section .content-container .content-center .center-details .det i {
  color: white;
  font-size: 0.7rem;
}
.hero-section .content-container .content-center .center-details .det p {
  color: white;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.content-section #prompt {
  font-size: 0.8rem;
  opacity: 0.7;
  line-height: 1.3;
  align-self: center;
}
.content-section .input-form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.content-section .input-form .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-section .input-form .input-container input {
  align-self: center;
  justify-self: center;
  margin: 20px;
  width: 90%;
  max-width: 400px;
  padding: 18px;
}
.content-section .input-form #submit {
  align-self: center;
  justify-self: center;
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  padding: 20px;
}
.content-section .input-form #submit:disabled {
  background-color: var(--disabled-button-color);
  cursor: not-allowed;
}
.content-section .progress-bar {
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.9rem;
}
.content-section .progress-bar p {
  margin-left: 0.5rem;
  opacity: 0.9;
}
.content-section .progress-bar.visible {
  display: flex;
}

.not-authenticated {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.not-authenticated .left-content {
  width: 50%;
  display: flex;
}
.not-authenticated .left-content img {
  width: 90%;
  max-width: 400px;
  margin: auto;
}
.not-authenticated .right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.not-authenticated .right-content h1 {
  font-size: 1.9rem;
  color: var(--complement-color);
}
.not-authenticated .right-content p {
  width: 90%;
  max-width: 500px;
  margin-top: 0.9rem;
  line-height: 1.7;
  font-size: 0.9rem;
  opacity: 0.6;
}
.not-authenticated .right-content .actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}
.not-authenticated .right-content .actions a {
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem;
  width: 100%;
  margin: 0.45rem;
}
.not-authenticated .right-content .actions .reg-a {
  background-color: red;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-container .modal-box {
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 30px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.modal-container .modal-box .left-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.modal-container .modal-box .left-content .oops i {
  font-size: 1.7rem;
  color: #1e3443;
}
.modal-container .modal-box .left-content .oops p {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.2rem;
}
.modal-container .modal-box .left-content .page-not {
  font-weight: 350;
  font-size: 2rem;
}
.modal-container .modal-box .left-content .explanation {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  line-height: 1.3;
  text-align: start;
}
.modal-container .modal-box .left-content a {
  text-decoration: none;
  margin-top: 0.8rem;
}
.modal-container .modal-box .left-content a button {
  background-color: var(--major-green);
  border: none;
  padding: 0.6rem 0.8rem;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.response-review-modal-content {
  position: relative;
}
.response-review-modal-content h2 {
  color: var(--complement_color);
}
.response-review-modal-content .responses-container {
  margin-top: 10px;
}
.response-review-modal-content .responses-container .response {
  margin-top: 5px;
}
.response-review-modal-content .responses-container .res-answer {
  margin-top: 2px;
}
.response-review-modal-content .warning-container {
  margin-top: 20px;
}
.response-review-modal-content .warning-container span {
  color: red;
  font-size: 0.9rem;
}
.response-review-modal-content .response-actions-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.response-review-modal-content .response-actions-container a {
  align-self: flex-end;
  margin-top: 0.9rem;
  color: var(--complement_color);
  text-decoration: none;
  font-size: 0.9rem;
}
.response-review-modal-content .response-actions-container .button-two {
  position: relative;
}
.response-review-modal-content .response-actions-container .button-two img {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 0.9rem;
  top: 0;
  width: 30px;
  height: 30px;
}
.response-review-modal-content .response-actions-container .button-two:disabled {
  background-color: var(--disabled-button-color);
}
.response-review-modal-content .response-actions-container .button-two:disabled img {
  display: block;
}
.response-review-modal-content .response-close-btn {
  position: absolute;
  top: 0;
  margin: 20px;
  right: 0;
  color: var(--complement_color);
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-container.visible {
  display: flex;
}

.message-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.message-modal .message-modal-box {
  background-color: white;
  width: 80%;
  max-width: 300px;
  padding: 30px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-modal .message-modal-box .content .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.message-modal .message-modal-box .content .icons #check-mark {
  color: rgb(7, 140, 7);
  font-size: 2rem;
}
.message-modal .message-modal-box .content .icons #error-mark {
  color: red;
  font-size: 2rem;
  display: none;
}
.message-modal .message-modal-box .content .message-div {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  align-items: center;
  justify-content: center;
}
.message-modal .message-modal-box .content .message-div p {
  font-weight: 600;
  text-align: center;
}
.message-modal .message-modal-box .content .message-div button {
  background-color: #1e3443;
  color: white;
  border: none;
  outline: none;
  width: 100px;
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
  margin-top: 0.8rem;
}

.message-modal.visible {
  display: flex;
}

@media screen and (min-width: 400px) and (max-width: 950px) {
  .header-section {
    padding: 10px;
  }
  .header-section .cancel-btn {
    height: 40px;
  }
  .header-section .header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
  .header-section .header .detail {
    margin: 10px 0;
  }
  .header-section .header .detail .des-img {
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
  }
  .header-section .header .detail p {
    font-size: 0.7rem;
  }
  .content-section .input-form .input-container {
    display: flex;
    flex-direction: column;
  }
  .content-section .input-form .input-container input {
    width: 100%;
  }
  .content-section .input-form input[type=submit] {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .header-section {
    padding: 10px;
  }
  .header-section .cancel-btn {
    height: 40px;
  }
  .header-section .header {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
  .header-section .header .detail {
    margin: 10px 0;
  }
  .header-section .header .detail .des-img {
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
  }
  .header-section .header .detail p {
    font-size: 0.7rem;
  }
  .hero-section .content-container .content-center .center-details {
    display: flex;
  }
  .content-section .input-form .input-container {
    display: flex;
    flex-direction: column;
  }
  .content-section .input-form .input-container input {
    width: 100%;
  }
  .content-section .input-form input[type=submit] {
    width: 100%;
  }
}
@media screen and (max-width: 605px) {
  footer {
    padding-bottom: 0.9rem;
  }
  footer .head {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .head .f-one {
    height: 35vh;
  }
  footer .head .a-list {
    height: 35vh;
  }
  footer .head .f-four {
    height: 35vh;
  }
}
@media screen and (max-width: 650px) {
  .not-authenticated {
    width: 100%;
    flex-direction: column;
  }
  .not-authenticated .left-content {
    width: 100%;
  }
  .not-authenticated .right-content {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  .not-authenticated .right-content .actions {
    flex-direction: column;
    width: 85%;
  }
  .not-authenticated .right-content .actions a {
    padding: 0.9rem;
  }
}/*# sourceMappingURL=reg.css.map */