@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap");
:root {
  --complement_color: #393B4A;
  --background_pink:#f7f2f2 ;
  --cus_orange: #E07243;
  --big_text_size: 3rem;
  --footer_height: 60vh;
  --footer_head_height: 50vh;
  --button_green: #45987e;
  --major-green: #0DC58A;
  --generic-grey: #f4f4f3;
  --default-modal-padding: 50px;
  --disabled-button-color: #cfd9de;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: var(--complement_color);
}

.rocket-alert-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rocket-alert-modal-content img {
  width: 100px;
}
.rocket-alert-modal-content .messages-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.rocket-alert-modal-content .messages-container h3 {
  color: var(--complement_color);
}
.rocket-alert-modal-content .messages-container p {
  margin-top: 0.3rem;
}
.rocket-alert-modal-content .actions-container {
  margin-top: 20px;
  width: 100%;
}

.button-one, .button-two {
  background-color: var(--button_green);
  padding: 0.7rem 0.9rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
}

.button-two {
  width: 100%;
}

.text-input-101 {
  padding: 0.7rem 0.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

.uncan-modal-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.uncan-modal-con img {
  width: 40px;
  height: 40px;
}
.uncan-modal-con p {
  margin-top: 0.9rem;
  text-align: center;
}

.v2-alert-modal-1a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.v2-alert-modal-1a p {
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
}
.v2-alert-modal-1a button {
  margin-top: 0.9rem;
}

.modal-section {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-section .modal-content {
  background-color: white;
  width: 90%;
  max-width: 400px;
  padding: var(--default-modal-padding);
  border-radius: 5px;
}
.modal-section .modal-content p {
  opacity: 0.7;
}

.opaque-modal-section {
  background-color: white;
}
.opaque-modal-section img {
  width: 30px;
  height: 30px;
}
.opaque-modal-section .message-txt {
  font-size: 0.9rem;
  margin-top: 0.9rem;
  color: var(--complement_color);
}

.modal-section.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-input {
  padding: 0.7rem 0.5rem;
  margin: 0.4rem 2.5rem;
  border: 1px solid rgb(219, 214, 214);
  outline: none;
  border-radius: 4px;
}

footer {
  margin-top: 3rem;
  width: 100%;
  min-height: var(--footer_height);
  background-color: var(--complement_color);
  display: flex;
  flex-direction: column;
}
footer .head {
  width: 100%;
  display: grid;
  padding: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
}
footer .head .title {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}
footer .head .f-one .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: var(--footer_head_height);
}
footer .head .f-one .content .gridder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .head .f-one .content .gridder img {
  width: 20px;
  height: 20px;
}
footer .head .f-one .content .gridder h3 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
footer .head .f-one .content .codebee {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
}
footer .head .a-list {
  display: flex;
  flex-direction: column;
  height: var(--footer_head_height);
  align-items: center;
  justify-content: center;
}
footer .head .a-list .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: flex-start;
}
footer .head .a-list .content a {
  text-align: start;
  margin-top: 0.4rem;
  color: #6e7072;
  text-decoration: none;
  font-size: 0.8rem;
}
footer .head .f-four {
  display: flex;
  flex-direction: column;
  height: var(--footer_head_height);
  align-items: center;
  justify-content: center;
}
footer .head .f-four .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: flex-start;
}
footer .head .f-four .content .follow-us .icon-list {
  margin-top: 0.4rem;
}
footer .head .f-four .content .follow-us .icon-list i {
  color: #6e7072;
  cursor: pointer;
}
footer .head .f-four .content .follow-us .icon-list .end {
  margin-left: 0.4rem;
}
footer .head .f-four .content .images-by {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}
footer .head .f-four .content .images-by p {
  font-size: 0.8rem;
  color: white;
}
footer .head .f-four .content .images-by img {
  margin-top: 0.3rem;
  width: 70px;
  cursor: pointer;
}
footer .head .f-four .content .images-by a {
  color: #6e7072;
  font-size: 0.7rem;
}
footer .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .bottom .content {
  display: flex;
  flex-direction: row;
}
footer .bottom .content img {
  width: 70px;
}
footer .bottom .content p {
  font-size: 0.8rem;
  color: #b4b7b8;
}
footer .bottom .content .side {
  margin-left: 0.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #625e5e;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.more {
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(3, 17, 43, 0.9019607843);
  border: 1px solid black;
  padding: 0.9rem;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  margin: 0.9rem;
  cursor: pointer;
  z-index: 99999;
}
.more i {
  font-size: 1rem;
  color: white;
}

.section {
  width: 95%;
  max-width: 800px;
  margin: auto;
}

.content-section {
  min-height: 100vh;
}
.content-section .top-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.content-section .top-content .showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-section .top-content .showcase img {
  width: 1rem;
  height: 1rem;
}
.content-section .top-content .showcase h1 {
  font-size: 1rem;
  margin-left: 0.3rem;
  color: #393B4A;
  font-family: "Inter", sans-serif;
}
.content-section .top-content .generate-btn {
  background-color: white;
  border: 0.9px solid rgb(150, 148, 148);
}
.content-section .top-content .generate-btn p {
  display: none;
}
.content-section .top-content .generate-btn i {
  display: block;
  color: rgb(77, 76, 76);
}
.content-section .top-content .settings-btn {
  background-color: white;
  border: 0.9px solid rgb(150, 148, 148);
}
.content-section .top-content .settings-btn p {
  display: none;
}
.content-section .top-content .settings-btn i {
  display: block;
  color: rgb(77, 76, 76);
}
.content-section .top-content .top-right {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.9rem;
  align-items: center;
}
.content-section .top-content .top-right a {
  text-decoration: none;
}
.content-section .top-content .top-right .generate-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  padding: 0.7rem;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  font-size: 0.9rem;
}
.content-section .top-content .top-right .generate-btn p {
  color: white;
  font-weight: 1000;
  font-size: 0.9rem;
  cursor: pointer;
}
.content-section .top-content .top-right .settings-btn {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  padding: 0.7rem;
  border-radius: 5px;
  margin-left: 0.3rem;
  border: 0.3px solid rgb(104, 101, 101);
  font-size: 0.9rem;
  cursor: pointer;
}
.content-section .top-content .top-right .settings-btn p {
  font-weight: 1000;
}
.content-section .poll-inf-set .poll-name-desc {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.content-section .poll-inf-set .poll-name-desc h1 {
  font-size: 2.3rem;
  color: var(--complement_color);
}
.content-section .poll-inf-set .poll-name-desc .poll-description {
  opacity: 0.7;
  margin-top: 15px;
  max-width: 700px;
}
.content-section .copyables {
  margin-top: 50px;
}
.content-section .copyables .copyable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 400px;
  background-color: #F8FAFB;
  padding: 0.7rem;
  border-radius: 10px;
  margin-top: 10px;
}
.content-section .copyables .copyable p {
  color: #8E97A7;
  font-size: 0.9rem;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-section .copyables .copyable .btn-copy {
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem;
  border: 1px #E4E8EC solid;
  color: var(--complement_color);
}
.content-section .table-container {
  padding: 1.3rem 0;
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
  position: relative;
}
.content-section .table-container table {
  padding: 1.7rem;
  width: 100%;
  max-width: 750px;
  border-collapse: collapse;
  font-size: 0.9rem;
  white-space: nowrap;
}
.content-section .table-container #empty-header {
  width: 3rem;
}
.content-section .table-container th, .content-section .table-container td {
  border: 1px solid black;
  text-align: center;
  padding: 0.7rem;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.holder .header-section {
  background-color: white;
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
.holder .header-section .top-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.holder .header-section .top-content .showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.9rem;
}
.holder .header-section .top-content .showcase img {
  width: 1.2rem;
  height: 1.2rem;
}
.holder .header-section .top-content .showcase h1 {
  font-size: 1rem;
  margin-left: 0.3rem;
  color: #393B4A;
  font-family: "Inter", sans-serif;
}
.holder .header-section .top-content .top-right {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.9rem;
  align-items: center;
}
.holder .header-section .top-content .top-right a {
  text-decoration: none;
}
.holder .header-section .top-content .top-right .generate-btn {
  display: flex;
  flex-direction: row;
  background-color: #45987e;
  align-items: center;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  padding: 0.7rem;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  font-size: 0.9rem;
}
.holder .header-section .top-content .top-right .generate-btn p {
  color: white;
  font-weight: 1000;
  font-size: 0.9rem;
  cursor: pointer;
}
.holder .header-section .top-content .top-right .generate-btn i {
  color: white;
  font-size: 0.9rem;
  display: none;
}
.holder .header-section .top-content .top-right .settings-btn {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  padding: 0.7rem;
  border-radius: 5px;
  margin-left: 0.3rem;
  border: 0.3px solid rgb(104, 101, 101);
  font-size: 0.9rem;
  cursor: pointer;
}
.holder .header-section .top-content .top-right .settings-btn p {
  font-weight: 1000;
}
.holder .header-section .top-content .top-right .settings-btn i {
  color: black;
  font-size: 0.9rem;
  display: none;
}
.holder .header-section .middle-left {
  align-items: flex-start;
  padding: 1rem;
  margin-left: 20px;
}
.holder .header-section .middle-left h1 {
  font-size: 2.5rem;
  text-align: start;
  opacity: 0.75;
  position: relative;
}
.holder .header-section .middle-left .poll-details {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.8rem;
}
.holder .header-section .middle-left .poll-details .poll-description {
  font-size: 0.9rem;
  line-height: 1.5;
}
.holder .header-section .middle-left .poll-details .padd-hor {
  margin-top: 1rem;
}
.holder .header-section .middle-left .poll-details .detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.holder .header-section .middle-left .poll-details .detail p {
  color: var(--complement_color);
  font-size: 1rem;
}
.holder .header-section .middle-left .poll-details .detail a {
  width: 20px;
  overflow: hidden;
  font-size: 0.8rem;
  color: #a5a3a3;
}
.holder .header-section .middle-left .poll-details .poll-detail {
  display: flex;
  flex-direction: row;
}
.holder .header-section .middle-left .poll-details svg {
  width: 15px;
  fill: var(--major-green);
  height: 15px;
  cursor: pointer;
  margin-left: 1rem;
}
.holder .header-section .middle-left .poll-details .population {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.holder .header-section .middle-left .poll-details .population p {
  font-size: 1rem;
  color: var(--complement_color);
}
.holder .header-section .middle-left .poll-details .population i {
  font-size: 0.7rem;
  opacity: 0.75;
}
.holder .container {
  width: 100%;
  height: 100vh;
  background-color: #8bb6cc;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.holder .container .preview-holder {
  width: 100%;
  background-color: white;
  margin: 2rem;
  height: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
}
.holder .container .preview-holder .table-container {
  padding: 1.3rem 0;
  width: 100%;
  overflow-x: auto;
  position: relative;
}
.holder .container .preview-holder .table-container table {
  padding: 1.7rem;
  border-collapse: collapse;
  min-width: 300px;
  width: 90%;
  font-size: 0.9rem;
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
}
.holder .container .preview-holder .table-container #empty-header {
  width: 3rem;
}
.holder .container .preview-holder .table-container th, .holder .container .preview-holder .table-container td {
  border: 1px solid black;
  text-align: center;
  padding: 0.7rem;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-container .modal-box {
  background-color: white;
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.modal-container .modal-box .content {
  display: none;
  flex-direction: column;
}
.modal-container .modal-box .content .header {
  display: flex;
  padding: 0.9rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
}
.modal-container .modal-box .content .header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-container .modal-box .content .header .left i {
  font-size: 0.9rem;
  color: rgb(75, 73, 73);
}
.modal-container .modal-box .content .header .left p {
  margin-left: 0.4rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: rgb(75, 73, 73);
}
.modal-container .modal-box .content .header .right svg {
  cursor: pointer;
}
.modal-container .modal-box .content .edt-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.9rem;
}
.modal-container .modal-box .content .edt-name p {
  font-size: 0.8rem;
  width: 90%;
  margin-left: 10px;
  opacity: 0.5;
}
.modal-container .modal-box .content .edt-name input[type=text] {
  padding: 0.7rem;
  margin-top: 4px;
  border-radius: 4px;
  width: 90%;
  border: 0.8px solid black;
}
.modal-container .modal-box .content .document {
  border-radius: 5px;
  margin-top: 0.9rem;
}
.modal-container .modal-box .content .document .t-p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 1000;
}
.modal-container .modal-box .content .document .file-det {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.9rem;
  position: relative;
}
.modal-container .modal-box .content .document .file-det .details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-container .modal-box .content .document .file-det .details i {
  font-size: 0.8rem;
  color: rgb(21, 18, 64);
}
.modal-container .modal-box .content .document .file-det .details p {
  font-size: 0.9rem;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
}
.modal-container .modal-box .content .document .file-det .actions {
  display: flex;
  flex-direction: row;
}
.modal-container .modal-box .content .document .file-det .actions p {
  color: rgb(77, 1, 255);
  text-decoration: underline;
  cursor: pointer;
}
.modal-container .modal-box .content .m-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modal-container .modal-box .content .m-buttons button {
  width: 100%;
  background-color: #45987e;
  padding: 0.9rem;
  margin: 0.9rem 0.7rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.modal-container .modal-box .content .m-buttons button:disabled {
  background-color: #8bb6cc;
  cursor: progress;
}
.modal-container .modal-box .content .loading {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.modal-container .modal-box .content .loading .load {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
}
.modal-container .modal-box .content .loading .load p {
  opacity: 0.5;
  font-size: 0.8rem;
}
.modal-container .modal-box .content .loading.visible {
  display: flex;
}
.modal-container .modal-box .content.visible {
  display: flex;
}
.modal-container .modal-box .success-div {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.modal-container .modal-box .success-div i {
  font-size: 3rem;
  color: rgb(8, 204, 8);
}
.modal-container .modal-box .success-div #mod-message {
  margin-top: 1.2rem;
}
.modal-container .modal-box .success-div.visible {
  display: flex;
}

.modal-container.visible {
  display: flex;
}

.download-modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.download-modal .download-modal-box {
  background-color: white;
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.download-modal .download-modal-box .download-content {
  display: none;
}
.download-modal .download-modal-box .download-content .modal-header {
  display: flex;
  padding: 0.9rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
}
.download-modal .download-modal-box .download-content .modal-header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download-modal .download-modal-box .download-content .modal-header .left i {
  font-size: 0.9rem;
  color: #077412;
}
.download-modal .download-modal-box .download-content .modal-header .left p {
  margin-left: 0.4rem;
  font-weight: 700;
}
.download-modal .download-modal-box .download-content .modal-header .right svg {
  cursor: pointer;
}
.download-modal .download-modal-box .download-content .content {
  padding: 0.9rem;
}
.download-modal .download-modal-box .download-content .content .file-det {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.download-modal .download-modal-box .download-content .content .file-det .details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.download-modal .download-modal-box .download-content .content .file-det .details .name-des {
  font-weight: 700;
  margin-left: 0.4rem;
}
.download-modal .download-modal-box .download-content .content .file-det .details i {
  color: rgb(58, 58, 61);
}
.download-modal .download-modal-box .download-content .content .file-det .details #txt-file-name {
  margin-left: 0.2rem;
}
.download-modal .download-modal-box .download-content .content .file-det #edit-name-i {
  cursor: pointer;
  color: black;
}
.download-modal .download-modal-box .download-content .content .edit-container {
  margin-top: 1.5rem;
  display: none;
  flex-direction: column;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  border: 0.2px solid black;
  padding: 0.9rem 0;
  width: 100%;
}
.download-modal .download-modal-box .download-content .content .edit-container input[type=text] {
  padding: 0.5rem;
  outline: none;
  border: none;
  margin: 0 0.8rem;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgba(224, 222, 222, 0.1);
}
.download-modal .download-modal-box .download-content .content .edit-container .change {
  background-color: black;
  color: white;
  outline: none;
  padding: 0 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.download-modal .download-modal-box .download-content .content .edit-container .edit-actions {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 0.8rem;
}
.download-modal .download-modal-box .download-content .content .edit-container .edit-actions i {
  cursor: pointer;
  margin: 0.45rem;
}
.download-modal .download-modal-box .download-content .content .edit-container.visible {
  display: flex;
}
.download-modal .download-modal-box .download-content .content .number-check {
  display: flex;
  flex-direction: column;
}
.download-modal .download-modal-box .download-content .content .number-check .check {
  margin-top: 0.9rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
.download-modal .download-modal-box .download-content .content .number-check .check label {
  font-size: 0.9rem;
  margin-left: 0.3rem;
}
.download-modal .download-modal-box .download-content .content .number-check .check select {
  border: none;
  outline: none;
  background-color: white;
}
.download-modal .download-modal-box .download-content .content .m-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.download-modal .download-modal-box .download-content .content .m-buttons button {
  width: 100%;
  background-color: #45987e;
  padding: 0.7rem 0.5rem;
  margin: 0 0.2rem;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.download-modal .download-modal-box .download-content .content .m-buttons button:disabled {
  background-color: #8bb6cc;
  cursor: progress;
}
.download-modal .download-modal-box .download-content.visible {
  display: flex;
  flex-direction: column;
}
.download-modal .download-alert {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.download-modal .download-alert .left-content {
  background-color: #fdfdfd;
  width: 30%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.download-modal .download-alert .left-content i {
  font-size: 2rem;
  color: rgba(3, 17, 43, 0.9019607843);
}
.download-modal .download-alert .right-content {
  width: 70%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0.9rem;
}
.download-modal .download-alert .right-content .remark-message {
  font-size: 1.3rem;
  color: #393B4A;
  font-family: "Inter", sans-serif;
}
.download-modal .download-alert .right-content .message {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  opacity: 0.7;
}
.download-modal .download-alert #remove-download-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.9rem;
  cursor: pointer;
  color: #bbb6b6;
}
.download-modal .download-alert.visible {
  display: flex;
}

.download-modal.visible {
  display: flex;
}

.display-details-moadal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: none;
}
.display-details-moadal .modal-box {
  background-color: white;
  min-width: 300px;
  padding: 30px 50px;
  border-radius: 5px;
}
.display-details-moadal .modal-box p {
  opacity: 0.7;
}
.display-details-moadal .display-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display-details-moadal .display-result i {
  font-size: 3rem;
  color: green;
}
.display-details-moadal .display-result .txt-created {
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
.display-details-moadal .display-result .details {
  margin-top: 1.2rem;
  width: 100%;
}
.display-details-moadal .display-result .details .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  background-color: azure;
  justify-content: space-between;
  padding: 0.8rem;
}
.display-details-moadal .display-result .details .detail .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.display-details-moadal .display-result .details .detail .left p {
  font-size: 0.9rem;
}
.display-details-moadal .display-result .details .detail .left .value {
  font-size: 0.9rem;
  margin-left: 5px;
}
.display-details-moadal .display-result .details .detail .left .poll-link {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0.5rem;
  position: relative;
  text-decoration: underline;
}
.display-details-moadal .display-result .details .detail i {
  font-size: 0.9rem;
}
.display-details-moadal .display-result .bottom {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.display-details-moadal .display-result .bottom p {
  font-size: 0.7rem;
  text-align: center;
  margin-top: 1.2rem;
}
.display-details-moadal .display-result .bottom button {
  outline: none;
  border: none;
  background-color: #45987e;
  padding: 0.6rem 1.7rem;
  color: white;
  border-radius: 5px;
  margin-top: 1.3rem;
  cursor: pointer;
}

.display-details-moadal.visible {
  display: flex;
}

@media screen and (max-width: 400px) {
  .holder .header-section .top-content .showcase {
    padding: 0.9rem;
  }
  .holder .header-section .top-content .top-right .generate-btn {
    background-color: white;
    border: 0.9px solid rgb(150, 148, 148);
  }
  .holder .header-section .top-content .top-right .generate-btn p {
    display: none;
  }
  .holder .header-section .top-content .top-right .generate-btn i {
    display: block;
    color: rgb(77, 76, 76);
  }
  .holder .header-section .top-content .top-right .settings-btn {
    background-color: white;
    border: 0.9px solid rgb(150, 148, 148);
  }
  .holder .header-section .top-content .top-right .settings-btn p {
    display: none;
  }
  .holder .header-section .top-content .top-right .settings-btn i {
    display: block;
    color: rgb(77, 76, 76);
  }
  .holder .header-section .top-content #mobile {
    display: block;
    padding: 0.9rem;
  }
}/*# sourceMappingURL=viewpoll.css.map */