<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1 style="font-family: sans-serif;">Need a new password?</h1>
<p style="font-family: sans-serif;">Click the button below to choose a new one</p>
<a href="http:{{domain}}{% url 'set-new-password' uidb64=uid token=token %}" style="text-align: center; background-color: #0DC58A; padding: 10px; color: white; font-weight: 600; font-family: sans-serif; text-decoration: none; ">Reset password</a>
</body>
</html>
