$light_black: #4C5B66;
$min-head-footer-height: 35vh;

@media screen and (max-width: 900px){
    .about{
        margin-top: 1rem;
        .container{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 790px){
   .landing{
    .header{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
        .top-holder{
            width: 100%;
            justify-content: space-between;
            .gridder{
                width: max-content;
                padding: 0;
                justify-content: space-between;
    
                .right-stroke{
                    display: none;
                }
            }

            #mobile{
                display: block;
            }

            .dash-link{
                margin-left: 0.5rem;

                .user{
                    display: flex;
                }
            }
           
        }
      
        
        .nav-bar{
            margin-top: 0.8rem;
            margin-left: 0;
            width: 100%;
            align-items: start;
            padding-top: 0.3rem;
            display: flex;
            flex-direction: column;
            
            height: 0;
            overflow: hidden;
            border-radius: 5px;
            transition: all 0.2s  linear;
   
           
            ul{
                flex-direction: column;
                li{
                    margin: 0.3rem;
                }
            }

            .user{
                display: none;
            }
        }
    }
   }
}

@media screen and (max-width: 790px){
    .landing{
        .bottom{
            flex-direction: column;
            .left-content{
                width: 100%;
                height: 30vh;
                
                img{
                    width: 70%;
                }
                
            }
            .right-content{
              
                width: 100%;
                padding-left: 0;
                align-items: center !important;
                justify-content: center;
                height: 40vh;
               
                .content{
                    align-items: center;
                    justify-content: center;

                    p{
                        text-align: center;
                    }

                    h1{
                        width: 70%;
                        
                        text-align: center;
                    }
                    .remark{
                        margin-top: 1.2rem;
                        text-align: center;
                        width: 80%;
                    }
                }
            }
        }
    }

    .input-poll-code{
        flex-direction: column;
        padding: 0;
        .left-content{
           padding: 4rem;
            width: 100%;
            .content{
                align-items: center;
                display: flex;
                flex-direction: column;
                h1{
                    width: 70%;
                    text-align: center;
                }
                .remark{
                    width: 90%;
                    text-align: center;
                    margin-top: 1rem;
                }
            }
        }
        .right-content{
           margin-top: 0.9rem;
            width: 100%;
        }
    }

    footer{
        .head{
            grid-template-columns: repeat(2, 1fr);
            .f-one{
                height: $min-head-footer-height;
            }

            .a-list{
                height: $min-head-footer-height;
            }

            .f-four{
                height: $min-head-footer-height;
            }
        }
    }
   
}

@media screen and (max-width: 800px) and (min-width: 640px){
    .contact-us-section{
        .contact-content{
            width: 95%;
        }
    }
}


@media screen and (max-width: 640px) and (min-width: 500px){
    .contact-us-section{
        .contact-content{
            width: 95%;

            .left-content{
                width: 50%;
            }

            .right-content{
                width: 50%;
                .content{
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .contact-us-section{
        padding: 1.2rem 0.5rem;
        .contact-content{
            width: 95%;
            flex-direction: column;
            .left-content{
                width: 100%;
                height: 70vh;
            }

            .right-content{
                
                width: 100%;
                height: max-content;
                padding: 1.2rem 0;
                // min-height: max-content;
                .content{
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 950px){
    .input-poll-code{
        .right-content{
            .des{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 750px){
    .input-poll-code{
        .right-content{
            .des{
                width: 90%;
            }
        }
    }
}


/** About section queries**/

@media screen and (max-width: 735px){
    .about{
       .top-container{
        width: 100%;
        .text-container{
            width: 100%;

            .right{
                height: 50vh;
            }
        }
       } 
    }
}

@media screen and (max-width: 590px){
    .about{
        
        .top-container{
         width: 100%;
         .text-container{
            width: 100%;
            flex-direction: column-reverse;

 
            .left{
                width: 70%;
                margin-top: 0.9rem;

                p{
                    text-align: center;
                }
            }
 
            .right{
                width: 70%;
                height: 50vh;
            }
         }
        } 
     }
}

@media screen and (max-width: 550px){
    .about{
        .top-container{
         width: 100%;
         .text-container{
            width: 100%;
            flex-direction: column-reverse;

 
            .left{
                width: 90%;
                max-width: 90%;
                margin-top: 0.9rem;

                p{
                    text-align: start;
                }
            }
 
            .right{
                width: 90%;
                max-width: 90%;
                height: 50vh;
            }
         }
        } 
     }
}

