@media screen and (max-width :950px){

    .container{
        .leftparent{
           position: absolute;
           top: -100vh;
           left: 2vw;
           
        }

        .leftparent.active{
            position: absolute;
            padding: 15px 0;
            border-radius: 7px;
            top: 10vh;
            height: 90vh;
            background-color: #fafbfc;
            display: flex;
            flex-direction: column;
            z-index: 2;
            width: 250px;

            .user-details{
                width: 100%;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                margin-bottom: 0;
               
            }

            #user-round{
                font-size: 1.6rem;
                margin-bottom: auto;
                padding: 10px 10px;
            }
        }


        .rightparent{
            border: none;
            .top-content{
                height: 10vh;
               
                .top-container{
                    height: 10vh;
                }
               .left-con{
                display: flex;
                flex-direction: row;
                align-items: center;
                #mobile{
                    display: flex !important;
                    
                }
                #icon-display{
                    display: none;
                }
               }
            }
            
            .bottom-content{
                .bottom-left{
                    .field-container{
                        .field{
                            width: 85%;
                        }
                       
                    }

                    .create-container{
                        padding: 5px;
                        button{
                            p{
                                font-size: 0.7rem;
                            }
                        }
                    }
                }
                .bottom-right{
                    input[type=text]{
                        outline: 0;
                        width: 90%;
                    }
                }
              
            }
        }

        #new-poll{
            .bottom-content{
                height: 90vh;
            }
        }
    }
}

@media screen and (max-width: 530px){
    .rightparent{
        .top-content{

            .top-container{

                .top-right{

                    #publish-btn{
                      
                        margin-right: 0.9rem !important;
                        
                    }
                }
            }
        }
    }
  .container{
    #contact-us{
        .bottom-content{
            
            flex-direction: column;
            
            .bottom-left{
                width: 100%;
            }

            .bottom-right{
                align-self: center;
                width: 90%;
            }
        }
    }
  }
}

@media screen and (max-width: 1260px){
    .container{
        #new-poll{
            .bottom-content{
                .bottom-left{
                    width: 75%;
                }
                .bottom-right{
                    width: 25%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .container{
        #new-poll{
            .bottom-content{
                .bottom-left{
                    width: 70%;
                }
                .bottom-right{
                    width: 30%;
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .container{
        #new-poll{
            .bottom-content{
                .bottom-left{
                    width: 65%;
                }
                .bottom-right{
                    width: 35%;
                }
            }
        }
    }
}

@media screen and (max-width: 360px){
    .container{
        #new-poll{
            .bottom-content{
                .bottom-left{
                    width: 60%;
                }
                .bottom-right{
                    width: 40%;
                }
            }
        }
    }
}
