$min-head-footer-height: 35vh;

@media screen and (min-width:400px) and (max-width: 950px){
    .header-section{
        padding: 10px;
        .cancel-btn{
            height: 40px;
        }
        .header{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;

            .detail{
                .des-img{
                    width: 15px;
                    height: 15px;
                    font-size: 0.7rem;
                }
                margin: 10px 0;
                p{
                    font-size: 0.7rem;
                }

            }
        }
    }

    .content-section{
        .input-form{
            .input-container{
                display: flex;
                flex-direction: column;

                input{
                    width: 100%;
                }
            }

            input[type=submit]{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .header-section{
        padding: 10px;
        .cancel-btn{
            height: 40px;
        }
        .header{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;

            .detail{
                .des-img{
                    width: 15px;
                    height: 15px;
                    font-size: 0.7rem;
                }
                margin: 10px 0;
                p{
                    font-size: 0.7rem;
                }

            }
        }
    }

    .hero-section{
        .content-container{
            .content-center{
                .center-details{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .content-section{
        .input-form{
            .input-container{
                display: flex;
                flex-direction: column;

                input{
                    width: 100%;
                }
            }

            input[type=submit]{
                width: 100%;
            }
        }

        
    }
}


@media screen and (max-width: 605px){
   

    footer{
        .head{
            grid-template-columns: repeat(2, 1fr);
            .f-one{
                height: $min-head-footer-height;
            }

            .a-list{
                height: $min-head-footer-height;
            }

            .f-four{
                height: $min-head-footer-height;
            }
        }

        padding-bottom: 0.9rem;
    }
   
}

@media screen and (max-width: 650px){
    .not-authenticated{
        width: 100%;
        flex-direction: column;

        .left-content{
            width: 100%;
        }
        .right-content{
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: 2rem;

            .actions{
                flex-direction: column;
                width: 90%;

                a{
                    padding: 0.9rem;
                }
            }

            
        }


    }
}