@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

$light-blue: #29abe2;

$main-min-height: 80vh;

@import 'base';

.section{
    padding: 20px 100px;
}

.publish-section{
    display: flex;
    flex-direction: column;
    
    .header-message{
        color: var(--complement_color);
        margin-top: 20px;
        font-size: 2rem;
    }

    .hor-line{
        width: 80%;
        height: 0.05rem;
        background-color: var(--complement_color);
        opacity: 0.1;
        margin-top: 20px;
    }

    

    .form-holder{
        margin-top: 30px;
        width: 90%;
        max-width: 400px;
        form{
            display: flex;
            flex-direction: column;

            .content-holder{
                margin-top: 20px;
        
                .publish-message{
                    font-size: 0.9rem;
                    margin-top: 0.5rem;
                    width: 80%;
                    color: var(--complement-color);
                    opacity: 0.7;
                }
        
                
                .table-preview-container{
                    width: 100%;
                    // max-width: 600px;
                    // min-height: 100px;
                    // background-color: var(--generic-grey);
                    margin-top: 0.9rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .table-preview{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        table{
                            border-collapse: collapse;
                            width: 95%;
                            font-size: 0.9rem;
                        }
                        #empty-header{
                            width: 3rem;
                        }
            
                        th, td {
                            border: 0.7px solid black;
                            text-align: center;
                          }
                    }
                }
            }

            .input-container{
                margin-top: 20px;
                .txt-input-name{
                    font-size: 0.85rem;
                    margin-bottom: 10px;
                    color: var(--complement_color);
                }

                input{
                    width: 100%;   
                }

                #poll-description{
                    width: 100%;
                }

                .file-input-container{
                    padding: 0.9rem;
                    border:dashed var(--complement_color) 0.5px;
                    border-spacing: 20px;
                    display: flex;
                    flex-direction: row;
                    cursor: pointer;
                    position: relative;
                    img{
                        width: 20px;
                    }

                    .file-info-container{            
                        margin-left: 10px;

                        p{
                            font-size: 0.8rem;
                        }
                        .file-name{
                            width: 90%;
                            max-width: 250px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                    }

                    
                    .remove-file-container{
                        background-color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        align-self: flex-end;
                        justify-self: flex-end;

                        
                    }
                }
            }

            button{
                margin-top: 20px;
            }
        }
        

    }
}

.main-section{
    width: 100%;
    min-height: $main-min-height;
    display: flex;
    flex-direction: row-reverse;
    
    .left-container{
        width: 50%;
        min-height: $main-min-height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        

        .publish-message{
            font-size: 0.9rem;
            margin-top: 0.5rem;
            width: 80%;
            color: var(--complement-color);
            opacity: 0.7;
        }

        .table-preview-container{
            width: 90%;
            max-width: 400px;
            min-height: 100px;
            background-color: var(--generic-grey);
            margin-top: 0.9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .table-preview{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                table{
                    border-collapse: collapse;
                    width: 95%;
                    font-size: 0.9rem;
                }
                #empty-header{
                    width: 3rem;
                }
    
                th, td {
                    border: 0.7px solid black;
                    text-align: center;
                  }
            }
        }
    }


    .right-container{
        width: 50%;
        min-height: $main-min-height;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: start;

       
    
        .form-holder{
            margin-top: 30px;
            width: 100%;
            form{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

        
            input[type=text]{
                width: 80%;
            }

            .append-suggest{
                margin-top: 20px;
                font-size: 0.8rem;
                opacity: 0.6;
            }

            input[type=file]{
                margin-top: 0.5rem;
            }

            button{
                margin-top: 20px;
            }
        }
    }
}

.explanation-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    .header-text{
        width: 70%;
        font-size: 2rem;
        max-width: 400px;
        color: var(--complement-color);
    }

    .top-explanation{
        width: 100%;
        display: flex;
        flex-direction: row;

        .top-left{
            width: 50%;
            padding: 0.9rem;
            img{
                width: 100%;
            }
        }

        .top-right{
            width: 50%;
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .breaker{
                font-weight: 900;
                line-height: 2;
            }

            p{
                text-align: start;
                font-size: 0.9rem;
                line-height: 1.5;
            }
        }
    }
}

.sample-items-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

    p{
        font-size: 0.9rem;
        max-width: 400px;
        text-align: center;
        margin-top: 0.8rem;
        opacity: 0.7;
    }

    img{
        width: 90%;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        h3{
            color: var(--complement-color);
        }
        iframe{
            margin-top: 10px;
        }
    }
}


.modal-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;

    .modal-box{
        background-color: white;
        min-width: 300px;
        padding: 30px 50px;
        border-radius: 5px;

        p{
            opacity: 0.7;
        }
    }

}

.modal-container.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .progress-bar-con{
        display: none;
    }

    .display-result{
        display: none;
    }

    .progress-bar-con.visible{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        
        .progress-bar{
            animation: spin 2s linear infinite;
            i{
                font-size: 2rem;
            }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .progress-details{
            p{
                font-size: 0.9rem;
                opacity: 0.7;
                margin-top: 1.2rem;
            }
        }

    }

    .display-result.visible{
     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i{
            font-size: 3rem;
            color: green
        }

        .txt-created{
            font-size: 1.2rem;
            margin-top: 0.7rem
        }

        .details{
            margin-top: 1.2rem;
            width: 100%;
            .detail{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
                background-color: azure;
                justify-content: space-between;
                padding: 0.8rem;
                
                .left{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                  
                   
                    p{
                        font-size: 0.9rem;
                    }
    
                    .value{
                        font-size: 0.9rem;
                        margin-left: 5px;
                    }

                    .poll-link{
                        max-width: 150px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        // margin-right: 0.5rem;
                        padding-right: 0.5rem;
                        position: relative;
                        text-decoration: underline;
                       
                        
                    }
                }

                i{
                    font-size: 0.9rem;
                }
            }
        }

        .bottom{
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p{
                font-size: 0.7rem;
                text-align: center;
                margin-top: 1.2rem;
                
            }
            button{
                outline: none;
                border: none;
                background-color: #29abe2;
                padding: 0.6rem 1.7rem;
                color: white;
                border-radius: 5px;
                margin-top: 1.3rem;
                cursor: pointer;
            }
        }

       
    }

    .warning{
        display: none;
    }
    .warning.visible{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            color: red;
        }

        button{
            outline: none;
            border: none;
            background-color: #29abe2;
            padding: 0.6rem 1.7rem;
            color: white;
            border-radius: 5px;
            margin-top: 1.3rem;
            cursor: pointer;
        }
    }
}

.ex-dg-modal{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    i{
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
    }

    .m-box{
        background-color: white;
        width: 90%;
        max-width: 500px;
        margin: 5% 5%;
        border-radius: 5px;
        background-color: white;

        img{
            width: 100%;
       
        }
        
    }
}

.ex-dg-modal.visible{
    display: flex;
}




@import './mpub';