$back-blue : #8BB6CC;
$light_black: #4C5B66;
$cus_orange: #E07243;
$complement_color: #393B4A;
$fine_green: #0DC58A;

$background_pink:#f7f2f2 ;
$complement_color: #393B4A;

@import 'base';


//custom scroll bar
html::-webkit-scrollbar{
    width: .5rem;
    background-color: var(--background_pink);
}

html::-webkit-scrollbar-thumb{
    border-radius: 2rem;
    background: var(--complement_color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


button:disabled{
    background-color: #a6a9bf;
    cursor: not-allowed;
}



.signup{
    width: 100%;
    min-height: 100vh;
    display: flex;

 
    .contact-data-gridder{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.9rem;
        cursor: pointer;
        text-decoration: none;
    
        i{
            font-size: 1.5rem;
            color: var(--complement_color);
        }
    }
  
    
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 400px;
        min-height: 30px;
        margin: auto;
        padding-bottom: 3rem;
        background-color:white;
        
        .header{
            width: 100%;
            display: flex;
            height: 50px;
            margin-bottom: 6rem;
            .content{
                margin: 1rem auto;
                display: flex;
                flex-direction: column;
                .top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 0.2rem;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                    p{
                        font-weight: 550;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }

                .by{
                    font-size: 0.6rem;
                    align-self: flex-end;
                    opacity: 0.8;
                }
            }
        }

        .bottom{
           .welcome{
            display: flex;
            flex-direction: row;
            margin-bottom: 0.9rem;            
            align-items: center;
            justify-content: center;
            column-gap: 0.3rem;

           
            p{
                font-family: 'Inter', sans-serif;
                 font-size: 1.3rem;
                 text-align: center;
                 font-weight: 700;
                 span{
                    color: var(--cus_orange);
                 }
               
             }
           }

           .form-con{
             form{
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;
                .make-details{
                    display: none;
                }
                .make-details.visible{
                    display: flex;
                    flex-direction: column;
                    .enter-input{
                        padding: 0.7rem 0.5rem;
                        margin: 0.4rem 2.5rem;
                        // background-color: #f7f2f2;
                        border: 1px solid rgb(219, 214, 214);
                        outline: none;
                        border-radius: 4px;
    
                    }

                    .password-input.wrong-password{
                       border: 1px solid red;
                    }

                    #holder-input{
                        display: none;
                    }
                    
                    button{
                        padding: 0.8rem 0.5rem;
                        margin: 1.4rem 2.5rem;
                        background-color: #031536e6;

                        cursor: pointer;
                        color: white;
                        border: none;
                        outline: none;
                        border-radius: 4px;
    
                    }
    
                   
    
                    .warning{
                        color: red;
                        text-align: center;
                        font-size: 0.8rem;
                    }

                    #front-warning{
                        display: none;
                    }
                }

                .confirm-details{
                    display: none;
                }
                .confirm-details.visible{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 0 0.9rem;

             

                    .cross-prompt{
                        text-align: center;
                        font-family: 'Inter', sans-serif;
                        font-size: 1.2rem;
                    }

                    .ensure-p{
                        opacity: 0.7;
                        font-size: 0.8rem;
                        margin-top: 0.3rem;
                        text-align: center;
                    }

                    .details{
                        margin-top: 0.7rem;
                        min-width: 90%;
                        .detail{
                        
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: 10px;
                            background-color: azure;
                            padding: 0.8rem;
                            flex-wrap: wrap;

                            justify-content: center;
                                
                              
                               
                            p{
                                font-size: 0.9rem;
                            }
            
                            .value{
                                font-size: 0.9rem;
                                margin-left: 5px;
                            }
                            
                            .left{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                               
            
                               
                            }
            
                            
                        }
                    }

                    .actions{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 1.2rem;
                        margin-right: 1.2rem;
                        
                        input[type=submit]{
                            padding: 0.7rem 0.5rem;
                            margin: 0 0.3rem;
                            background-color: #031536e6;
                            cursor: pointer;
                            color: white;
                            border: none;
                            outline: none;
                            border-radius: 4px;
                        }

                        p{
                            margin-left: 0.9rem;
                            cursor: pointer;
                            font-size: 0.9rem;
                        }


                    }
                    
                }

                .txt-already{
                    text-align: center;
                    font-size: 0.9rem;
                    margin-top: 0.1rem;
                }

             }

           
           }
        }
       
    }

    .verify-email-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 350px;
        min-height: 30px;
        margin: auto;
        padding-bottom: 3rem;
        background-color:white;
        

          
        .header{
            width: 100%;
            
            .header-content{
                margin-top: 0.5rem;
                padding: 0.3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 40px;
                    height: 40px;
                }

                h3{
                    font-family: 'Inter', sans-serif;
                    margin-top: 0.3rem;
                    color: var(--complement_color);
                }

                p{
                    text-align: center;
                    font-size: 0.7rem;
                    margin-top: 0.3rem;
                    opacity: 0.7;
                }
            }

           
        }

        .verify-body{
            width: 90%;
            margin-top: 0.2rem;
            display: flex;
            flex-direction: column;
            
            .conf-msg{
                opacity: 0.7;
                text-align: center;
                font-size: 0.8rem;
                line-height: 1.5;
                
            }



            hr{
                margin-top: 0.7rem;
                margin-bottom: 0.7rem;
            }

            .resend-div{
                align-self: center;

                p{
                    color: rgb(47, 45, 45);
                    font-size: 0.9rem;
                }
            }

            .edit-p{
                text-align: center;
                font-size: 0.8rem;

                span{
                    a{
                        color: var(--cus_orange);
                    }
                }
            }

            button{
                border-radius: 5px;
                width: max-content;
                align-self: center;
                border: none;
                outline: none;
                margin-top: 0.7rem;
                background-color: var(--major_green);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0.7rem;
                cursor: pointer;

                p{
                    color: white;
                    font-size: 0.8rem;
                }
                #time-counter{
                    margin-left: 0.4rem;
                    font-weight: 900;
                }
            }

            button:disabled{
                background-color: #c0efe0;
                cursor: not-allowed;

                #time-counter{
                   color: black;
                }
            }

          
           
        }

        
        
    }

}

.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
   
    .contact-data-gridder{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.9rem;
        cursor: pointer;
        text-decoration: none;
    
        i{
            font-size: 1.5rem;
            color: var(--complement_color);
        }
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 400px;
        min-height: 30px;
        margin: auto;
        padding-bottom: 3rem;
        background-color:white;
        
        .header{
            width: 100%;
            display: flex;
            height: 50px;
            margin-bottom: 6rem;
            .content{
                margin: 1rem auto;
                display: flex;
                flex-direction: column;
                .top{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 0.2rem;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                    p{
                        font-weight: 550;
                        font-size: 1.4rem;
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        
                    }
                }

                .by{
                    font-size: 0.6rem;
                    align-self: flex-end;
                    opacity: 0.8;
                }
            }
        }

        .bottom{
            .email-sent-div{
                width: 100%;
                height: max-content;
                background-color: #0DC58A;
                padding: 0.9rem;
                text-align: center;
                font-size: 0.9rem;
            }
            .welcome{
             display: flex;
             flex-direction: column;
             margin-top: 1.2rem;
             align-items: center;
             justify-content: center;
             column-gap: 0.3rem;
 
            
             .welcome-message{
                font-family: 'Inter', sans-serif;
                 font-size: 1.3rem;
                 text-align: center;
                 font-weight: 700;
                 span{
                    color: var(--cus_orange);
                 }
               
             }

             .reset-message{
                font-family: 'Inter', sans-serif;
                font-size: 0.7rem;
                text-align: center;
                margin-top: 0.3rem;
                width: 90%;
                max-width: 340px;

             }
            }
 
            .form-con{
              form{
                 display: flex;
                 flex-direction: column;
                 margin-top: 1.5rem;
                 .enter-input{
                    padding: 0.7rem 0.5rem;
                    margin: 0.4rem 2.5rem;
                    border: 1px solid rgb(219, 214, 214); 
                    outline: none;
                    border-radius: 4px;
 
                 }

                 .password-input.wrong-password{
                    border: 1px solid red;
                 }

                 
                 input[type=submit]{
                     padding: 0.8rem 0.5rem;
                     margin: 1.4rem 2.5rem;
                     background-color: #031536e6;
                     cursor: pointer;
                     color: white;
                     border: none;
                     outline: none;
                     border-radius: 4px;
 
                 }
 
                 .txt-already{
                     text-align: center;
                     font-size: 0.8rem;
                     margin-top: 0.9rem;
                 }

                 
                .txt-forgot{
                
                    font-size: 0.8rem;
                    text-align: center;
                }
 
                 .warning{
                     color: red;
                     text-align: center;
                     font-size: 0.8rem;
                 }

                 #front-warning{
                    display: none;
                }
              }
            }
         }

    }

    .confirm-reset-container{
        background-color: white;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .confirm-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .message{
            font-size: 0.9rem;
            text-align: center;
             width: 90%;
             max-width: 350px;
             color: #4C5B66;
             margin-top: 0.5rem;
    
             span{
                font-size: 1rem;
             }
            }
    
            
        }
    }
}

.auth-options{
    align-self: center;
    margin: 20px 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;

        .line{
            width: 70px;
            height: 0.1rem;
            background-color: var(--generic-grey);
        }

        .txt-or{
            font-size: 0.9rem;
            opacity: 0.5;
            margin: 0 0.5rem;
        }
    }

    .options-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        .option-wrapper{
            width: 100%;
            text-decoration: none;
        }

        .option{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0.9rem;
            padding: 0.6rem;
            cursor: pointer;
            background-color: white;
            border: none;
            outline: none;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
            text-align: center;

            img{
                width: 20px;
                height: 20px;
            }

            .option-prompt{
                text-align: center;
                width: 100%;
                margin-left: 0.9rem;
                font-size: 0.9rem;
                color: var(--complement_color);
            }


        }
    }
    
}

.failed-container{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
        color: red;
        font-size: 2rem;
    }

    .act-failed{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .went-wrong{
        font-weight: 550; 
        margin-top: 0.9rem;  
        text-align: center;
        width: 90%;
        max-width: 300px; 
    }

    .message{
        font-size: 0.9rem;
        margin-top: 0.5rem;
        width: 90%;
        max-width: 350px;
        text-align: center;
        opacity: 0.7;
    }

    a{
        margin-top: 0.9rem;
        color: rgb(49, 97, 230);
        /* text-decoration: none; */
    }
}

.modal-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;

    .modal-box{
        background-color: white;
        width: 90%;
        max-width: 350px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    
        .content{
            display: none;
            flex-direction: row;

            .left{
                width: 30%;
                min-height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #eff3f5;

                i{
                    font-size: 3rem;
                    color: #2a3439;
                }

               
            }

            .right{
                width: 70%;
                min-height: 150px;
                padding: 0.9rem;
                display: flex;
                flex-direction: column;

                #remove-modal{
                    align-self: flex-end;
                    opacity: 0.5;
                    cursor: pointer;
                }
                p{
                    font-size: 0.85rem;
                    line-height: 1.5;
                    font-family: 'Inter', sans-serif;
                    margin-top: 0.3rem;
                }

                .vrf-a-button{
                //    color: $complement_color;
                   margin-top: 0.9rem;
                   font-family: 'Inter', sans-serif;
                }

            }
        }

        .content.visible{
            display: flex;
        }

     
        
       }

      
    }

.modal-container.visible{
    display: flex;
}






