
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

$border-bottom: 50%;
$border-tops: 5px;
$abt-height: 90vh;


@import 'base';


//custom scroll bar
html::-webkit-scrollbar{
    width: .5rem;
    background-color: var(--background_pink);
}

html::-webkit-scrollbar-thumb{
    border-radius: 2rem;
    background: var(--complement_color);
}

// body{
 
//     font-family: 'lato', sans-serif;
   
// }

.landing{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background_pink);
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        padding: 0.8rem;
       
        .top-holder{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          

            .gridder{
                width: 230px;
                padding:0 1.2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .name-text{
                    color: #393B4A;
                    font-family: 'Inter', sans-serif;
                    font-size: 1.3rem;
                }
    
                .right-stroke{
                    width: 1.5px;
                    height: 25px;
                    background-color: var(--cus_orange);
                    
                }
            }

            .user{
                display: none;
            }

            #mobile{
                color: var(--complement_color);
                display: none;
                font-size: 1.4rem;
            }
        }
       

        .dash-link{
            text-decoration: none;
        }
       
       
        .nav-bar{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 0.9rem;
           
            #close-nav{
                display: none;
                
            }
           
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-self: center;

               
    
                li{
                    margin: 0 0.6rem;
                    a{
                        text-decoration: none;
                        color: #A2A5B2;
                        font-family: 'Inter', sans-serif;
                        font-size: 0.9rem;
                    }
    
                    a.active{
                        color: black;
                        font-weight: 650;
                    }
                }
                
            }

     
        }
        
    }

    .user{
        display: flex;
        flex-direction: row;
        background-color: var(--major-green);
        padding: 0.6rem;
        align-items: center;
        border-radius: 25px;
        margin-right: 1.2rem;
        width: max-content;
        max-width: 110px;
        justify-content: flex-start;
        cursor: pointer;
        i{
            color: white;
            font-size: 0.7rem;
        }

        p{
            color: white;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 0.3rem;
            max-lines: 1;
            white-space: nowrap;
        }
    }
   

    .bottom{
        display: flex;
        flex-direction: row;
        min-height: 87vh;
        .left-content{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                margin: auto;
                width: 50%;
            }
        }
        .right-content{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 4rem;
           

            .content{
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                p{
                    text-align: start;
                    color: var(--cus_orange);
                }
    
                h1{
               
                    width: 60%;
                    font-size: var(--big_text_size);
                    color: var(--complement_color);
                    transition: all 0.2 ease-in-out;
                    font-family: 'lato', sans-serif;
                }

                .line{
                    width: 40%;
                    height: 1px;
                    margin-top: 0.7rem;
                    background-color: var(--cus_orange);
                }

                .remark{
                    color: #838796;
                    font-size: 0.9rem;
                    margin-top: 0.8rem;
                    width: 60%;
                    line-height: 1.3;
                }

                .btn-new-form{
                    margin-top: 0.8rem;
                    border: none;
                    padding: 0.5rem 1.5rem;
                    background-color: var(--major-green);
                    color: white;
                    font-weight: 520;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }

          
        }
    }
}

.input-form-code{
    width: 100%;
    min-height: 60vh;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    background-color: white;

    .right-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        img{
            width: 60%;
        }

        .image-container{
            width: 70%;
            height: 60vh;
            position: relative;
            display: inline-block;
            img{
               width: 100%;
               height: 100%;
               object-fit: cover;
               object-position: center;
            }

            .overlay{
               width: 100%;
               height: 100%;
               // background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
               background-color: rgba(0, 0, 0, 0.5);
               position: absolute;
               top: 0;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: flex-end;
              
           }
          }

        .des{
            width: 60%;
            min-height: max-content;
            background-color:#142F40;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 2.5rem;

            .question{
                color: white;
                font-size: 2rem;
                font-weight: 600;
                font-family: 'Inter', sans-serif;
            }

            p{
                margin-top: 0.9rem;
                color: rgb(219, 216, 216);
                line-height: 1.7;
                font-size: 0.9rem;
                font-family: 'Inter', sans-serif;
            }

            .img-con{
              
                margin-top: 2.5rem;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                img{
                    width: 80px;
                }
            }
        }
        
    }

    .left-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content{
            h1{
                width: 60%;
                font-size: var(--big_text_size);
                color: var(--complement_color);
            }

            .line{
                width: 150px;
                height: 1px;
                margin-top: 0.7rem;
                background-color: var(--cus_orange);
            }

            .remark{
                color: #838796;
                font-size: 0.9rem;
                margin-top: 0.8rem;
                width: 60%;
                line-height: 1.3;
               
            }

            .form-div{
                margin-top: 0.8rem;
                #find-form-form{
                 display: flex;
                 align-items: center;
                  width: 200px;
                  height: 50px;
                  background-color: red;
                  position: relative;
                  border-radius: 30px;
                  input[type=text]{
                    padding: 1rem;
                    width: 200px;
                    position: relative;
                    border-radius: 30px;
                    height: 50px;
                    outline: none;
                    border: 0.7px solid var(--complement_color);
                  }
                   #submit-btn{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: 0;
                    border-radius: 50%;
                   
                    text-align: center;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    background-color: var(--major-green);
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0.4rem;
                    
                    i{
                     
                        color: white;
                        margin: auto;
                    
                    }
                   }

                   #submit-btn:disabled{
                    background-color: rgb(145, 185, 174);
                    cursor: not-allowed;
                   }
                }
            }

            .loading-form-div{
                display: none;
            }
            .loading-form-div.visible{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 0.6rem;
                gap: 0.4rem;
                p{
                    font-size: 0.8rem;
                    opacity: 0.7;
                }
            }
        }
       
    }
}


.contact-us-section{
    width: 100%;
    // height: 100vh;
    min-height: 100vh;
    background-color: var(--background_pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-content{
        width: 80%;
        min-height: 90vh;
        background-color: white;
        display: flex;
        flex-direction: row;
        .left-content{
            width: 40%;
            height: 90vh;
           .image-container{
             width: 100%;
             height: 100%;
             position: relative;
             display: inline-block;
             img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
             }

             .overlay{
                width: 100%;
                height: 100%;
                // background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
                background-color: rgba(0, 0, 0, 0.8);
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                .get-in-touch{
                   margin: 1.2rem;
                   padding: 1.2rem;

                   h3{
                    color: white;
                    font-family: 'Inter', sans-serif;
                    margin-bottom: 1rem;
                   }

                   p{
                    color: rgb(211, 209, 209);
                    font-size: 0.9rem;
                    line-height: 1.5;
                   }

                   .contact-detail{
                    display: flex;
                    flex-direction: row;
                    margin-top: 0.9rem;
                    align-items: center;

                    i{
                        color: rgb(211, 209, 209);
                    }

                    p{
                        margin-left: 0.4rem;
                    }
                   }
                }
            }
           }
        }

        .right-content{
            width: 60%;
            height: 90vh;
            background-color: white;
            display: flex;
            .content{
                width: 80%;
                
                margin: auto auto;
                border-radius: 3px;
                display: flex;
                flex-direction: column;

                p{
                    color: black;
                    font-weight: 600;
                    text-align: center;
                    margin-bottom: 0.7rem;
                    font-family: 'Inter', sans-serif;
                }

               
                label{
                    display: none;
                }
                .text-input{
                    background-color: var(--background_pink);
                    border: none;
                    border-radius: 15px;
                    outline: none;
                    margin: 0.3rem 0;
                    padding: 0.7rem;
                    width: 100%;
                    color: rgb(122, 118, 118);
                    color: black;
                }


                input[type=submit]{
                    background-color: #031536e6;
                    border: none;
                    padding: 0.7rem;
                    margin-top: 0.8rem;
                    border-radius: 5px;
                    cursor: pointer;
                    color: white;
                    
                }
            }
        }
    }
}


.about{
    margin-top: 3rem;
    background-color: #e5e7ee;

    .top-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 50vh;
        .topic-underline{
            max-width: 50px;
            width: 20%;
            height: 1.5px;
            margin-top: 0.7rem;
            background-color: var(--cus_orange);
        }

        .topic-text{
            color: var(--complement_color);
        }

        .text-container{
            // max-width: 700px;
            width: 90%;
            margin-top: 4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .left{
                width: 50%;
                max-width: 400px;
                padding: 0.9rem;
                display: flex;
                flex-direction: column;
                align-items: center;

                .icon-con{
                    width: 35px;
                    height: 35px;
                    background-color: #142F40;
                    display: flex;
                    border-radius: 50%;


                    
                i{
                    color: white;
                    margin: auto;
                }

                
                    
                }
             
                .comment-text{
                    margin-top: 0.9rem;
                    font-size: 0.8rem;
                    text-align: start;
                    line-height: 1.5;
                    text-align: center;
                    opacity: 0.7;
                    font-family: 'Inter', sans-serif;
                }
                .comment{
                    display: flex;
                    flex-direction: row;
                     align-items: center;
                    justify-content: center;
                    height: max-content;
                    margin-top: 0.9rem;
                    
                    .comentator{
                        font-style: italic;        
                        font-size: 0.8rem;
                    text-align: start;
                    line-height: 1.5;
                    text-align: center;
                    opacity: 0.7;
                    font-family: 'Inter', sans-serif;    
                    }

                    .line{
                        width: 20px;
                        height: 1px;
                        background-color: var(--complement_color);
                        margin-top: 0;
                    }

                }

               

                
              
            }

            .right{
                width: 40%;
                height: 50vh;
                border-radius: $border-tops $border-bottom $border-tops $border-bottom;   
     

                .image-container{
                  width: 100%;
                  height: 100%;
                  position: relative;
                  display: inline-block;
                  border-radius: $border-tops $border-bottom $border-tops $border-bottom;   

    
                        

                  img{
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     object-position: center;
                     border-radius: $border-tops $border-bottom $border-tops $border-bottom;   

       

                  }
     
                  .overlay{
                     width: 100%;
                     height: 100%;
                     // background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
                     background-color: rgba(0, 0, 0, 0.7);
                     position: absolute;
                     top: 0;
                     display: flex;
                     flex-direction: column;
                     align-items: flex-end;
                     justify-content: flex-end;
                     
                     border-radius: $border-tops $border-bottom $border-tops $border-bottom;   

                     .get-in-touch{
                        margin: 1.2rem;
                        padding: 1.2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        h3{
                         color: white;
                         font-family: 'Inter', sans-serif;
                         margin-bottom: 1rem;
                        }
     
                        p{
                         color: rgb(230, 226, 226);
                         font-size: 0.9rem;
                         text-align: end;
                         max-width: 90%;
                         line-height: 1.5;
                        }
     
                       
                     }
                 }
                }
            }

            
        }
    }

    .prompt{
        align-self: center;
        font-weight: 600;
        color: var(--cus_orange);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 1rem;
        .content{
            padding: 3rem;

            h4{
                background-color: #142F40;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                width: 2rem;
                height: 2rem;
            }

            h3{
                font-family: 'Lato', sans-serif;
                margin-top: 1.05rem;
                color: var(--complement_color);
            }

            p{
                font-family: 'Inter', sans-serif;
                line-height: 1.5;
                margin-top: 0.3rem;
                opacity: 0.7;
                font-size: 0.8rem;
            }
        }
    }
    
}

.modal-container{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
   

    .modal-box{
        background-color: white;
        width: 90%;
        max-width: 350px;
        //min-width: 300px;
        padding: 30px 20px;
        border-radius: 5px;

        p{
            opacity: 0.7;
        }
    }

}

.modal-container.visible{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .warning-div{
        display: flex;
        flex-direction: column;
        align-items: center;

        #warning-message{
            text-align: center;
            color: black;
        }
        #btn-ok{
            outline: none;
            border: none;
            background-color: var(--major-green);
            padding: 0.7rem 1.2rem;
            color: white;
            border-radius: 5px;
            margin-top: 1.3rem;
            cursor: pointer;
        }
    }
    .result-container{
        background-color: azure;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;

        .left-content{
            .det{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0.2rem;
                max-width: 130px;


                .p-name{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 600;
                    color: black;
                    white-space: nowrap;
                }

                i{
                    font-size: 0.7rem;
                    margin-right: 0.2rem;
                    opacity: 0.7;
                }
                .p-author{
                    font-size: 0.9rem;
                    opacity: 0.6;
                    margin: 0.2rem 0;
                }
    
                .p-code{
                    font-size: 0.75rem;
                    opacity: 0.6;
                    margin: 0.2rem 0;
                }
            }
            
        }

        .right-content{
            #btn-go{
                outline: none;
                border: none;
                background-color: var(--major-green);
                padding: 0.7rem 1.2rem;
                color: white;
                border-radius: 5px;
                margin: 0 0.1rem;
                cursor: pointer;
            }

            #btn-cancel{
                outline: none;
                border: 1px solid black;
                background-color: white;
                padding: 0.65rem 0.5rem;
                color: black;
                border-radius: 5px;
                margin: 0 0.1rem;
                cursor: pointer;
            }
        }


    }


}

.not-found-modal{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;

    .not-found-modal-box{
        background-color: white;
        width: 90%;
        max-width: 400px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        
        .not-found-content.visible{
            display: flex;
            flex-direction: column;
        }
        
    }

    .not-found-alert{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        // padding: 0.8rem 0.5rem;
       
        .left-content{
            background-color:#fdfdfd;
            width: 30%;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            i{
                font-size: 2rem;
                color:#03112be6;
            }
        }

        .right-content{
            width: 70%;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 0.9rem;

            .remark-message{
                font-size: 1.3rem;
                color: var(--complement_color);
                font-family: 'Inter', sans-serif;
            }

            .message{
                margin-top: 0.3rem;
                font-size: 0.8rem;
                font-family: 'Inter', sans-serif;
                opacity: 0.7;
            }

            .actions{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-end;
                padding-top: 0.9rem;
            
                a{
                    margin-right: 0.9rem;
                    text-decoration: none;
                    color: var(--complement_color);
                    background-color: white;
                    border: 0.5px solid black;

                    font-size: 0.9rem;
                    padding: 0.5rem 0.9rem;
                }

                
            }
        }

        #remove-not-found-modal{
            position: absolute;
           top: 0;
           right: 0;
           margin: 0.9rem;
           cursor: pointer;
           color:#bbb6b6;
        }
    }
   
}

.not-found-modal.visible{
    display: flex;
}

.contact-confirmation{


    .contact-confirmation-modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            width: 85%;
        }

        h1{
            color: var(--complement_color);
            text-align: start;
            align-self: flex-start;
            margin-top: 0.9rem;
            font-size: 1.7rem;
        }

        p{
            font-size: 0.9rem;
            opacity: 0.7;
            margin-top: 0.3rem;
            line-height: 1.3;
        }

        button{
            margin-top: 1rem;
        }
    }

    
}

@import './media';