{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Datagridder</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href=" {% static 'compile/style.css' %}" >
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>


</head>
<body>
    
    <section class="contact-us-section" id="contact-us-section">
        <div class="contact-content">
            <div class="left-content">
                <div class="image-container">
                    <img src="{% static 'img/cus-sup.png' %}" alt="">
                    <div class="overlay">
                        <div class="get-in-touch">
                            <h3>Get in touch</h3>
                            <p>Your satisfaction is our top priority. If you have any questions, concerns,
                                 or need assistance with any aspect of our website, please don't hesitate to reach out to our dedicated customer support team. 
                                We are here to help and provide you with the best experience possible.</p>
                         
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-content">
                <div class="content">
                    <form class="content" action="" method="POST" id="contact-form">
                        {% csrf_token %}
                        <p>Send us a message</p>
                      
                    
                        {{ contact_form }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-confirmation modal-section" id="contact-confirmation-modal">
        <div class="modal-content contact-confirmation-modal-content">
            <img src="{% static 'img/vector-support.svg' %}" alt="email sent">
            <h1>Thanks for reaching out!</h1>
            {% if user_exists == 'true' %}
            <p>Hello {{user_profile.user.username}}, Thank you for contacting Datagridder. Your message has been received and will be addressed promptly. We appreciate your patience.</p>
            {% else %}
            <p>Hello, Thank you for contacting Datagridder. Your message has been received and will be addressed promptly. We appreciate your patience.</p>
            {% endif %}
            <button class="button-two"  onclick="transitionModal('none')">Done</button>
        </div>
    </div>

    <div class="modal-section" id="v2-loading-modal">
        <div class="modal-content v1-loading-modal-content uncan-modal-con">
            <img src="{% static 'img/loading.gif' %}" alt="loading-image">
            <p class="loading-text" id="loading-text">Loading, please wait..</p>
        </div>
    </div>

    <div class="modal-section" id="v2-alert-modal-1a">
        <div class="modal-content v2-alert-modal-1a" >
            <p class="alert-message-1a" id="res-alert-modal-1a-p">[ empty ]</p>
            <button class="button-one" id="res-alert-modal-1a-button">Ok</button>
        </div>
    </div>

    <script src="{% static 'js/components.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>