{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">

    <!-- My custom stylesheets -->
    <link rel="stylesheet" href="{% static 'compile/dash.css' %}" type="text/css">

    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <title>Dashboard | datagridder</title>
</head>
<body class="main-content">
    <div class="container">

        <!-- left parent, this section remains thesame throughout -->
        <div class="leftparent">
            <!-- <i class="fa-solid fa-xmark" onclick="closeLeftParent()" style="font-size: 1.3rem;"></i> -->

            <div class="navigations"> 
                <div class="navigation" data-id="my-polls" id="con-my-polls">
                    <i class="fa-solid fa-crown" data-id="my-polls"></i>
                    <p data-id="my-polls">My polls</p>
                </div>
                 
                <div class="navigation" data-id="rpolls" id="con-rpolls">
                    <i class="fa-regular fa-star" data-id="rpolls"></i>
                   <p data-id="rpolls">Registered polls</p>
                </div>
                 
                <!-- <div class="navigation" data-id="scratch-poll" id="con-scratch-poll">
                    <i class="fa-solid fa-plus" data-id="scratch-poll"></i>
                    <p data-id="scratch-poll">New poll</p>
                </div> -->

                <div class="navigation" data-id="new-poll" id="con-new-poll">
                    <i class="fa-solid fa-plus" data-id="new-poll"></i>
                    <p data-id="new-poll">New poll</p>
                </div>
                 
                <!-- <div class="navigation" data-id="sort-doc" id="con-sort-doc">
                    <i class="fa-solid fa-arrow-up-z-a" data-id="sort-doc"></i>
                    <p data-id="sort-doc">Sort document</p>
                </div> -->

                 <div class="contact-btn navigation" data-id="contact-us" id="con-contact-us">
                    <i class="fa-regular fa-message" data-id="contact-us"></i>
                    <p data-id="contact-us">Contact us</p>
                </div>

                <div class="log-out-btn navigation" data-id="log-out" id="con-log-out">
                    <i class="fa-solid fa-right-from-bracket" data-id="log-out"></i>
                    <p data-id="log-out">Log out</p>
                </div>
            </div>

            <div class="user-details">
                <div class="details">
                    <a href="#"><a href="#"><i class="fa-regular fa-user"></i></a>
                    <p>{{user_profile.user.email}}</p>
                </div>
               
            </div>
        </div>

        <!-- new poll section -->
        <div class="rightparent" id="new-poll">
            <div class="top-content">
                <div class="top-container">
                    <div class="top-left">
                        <div class="left-con">
                            <div id="mobile">
                                <i id="bar" class="fa-solid fa-bars bar"></i>
                            </div>
                            <img src="{% static 'img/icon.svg' %}" alt="iconimage" id="icon-display">
                            <div class="left-right">
                                <h2>New poll</h2>
    
                                <!-- <ul>
                                    <li>File</li
                                    <li><div class="drop-down">
                                        <p>Design </p>
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div></li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                    <div class="top-right">
                        <div id="publish-btn"><a href="/publish">Publish</a></div>
                        <!-- <input type="submit" value="Publish" id="publish-btn"> -->
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <div class="bottom-left">
                    <div class="field-container">
                        <!-- <div class="field">
                            <p>Blank</p>
                        </div> -->

                    </div>
                    <div class="create-container">
                        <button class="btn-new-field" id="btn-new-field" title="Create a new field">
                            <p>New field</p>
                        </button>
                        <button id="btn-clear" title="Delete all fields">
                            <p>
                               Clear
                            </p>
                        </button>
                    </div>
                   
                </div>
                <div class="bottom-right">
                    <h4 class="poll-header">Poll field </h4>
                    <hr>

                    <div class="f-prop">
                        <div class="feildname">
                            <p>Name</p>
                            <input type="text" name="field-name" id="field-name">
                        </div>
                        
                        
                        <input type="checkbox" name="required" id="required" value="Required">
                        <label for="required">Required</label>
                        <div>
                            <h3>Data type </h3>
                            <input type="radio" name="datatype" id="text" value="text">
                            <label for="text">Text</label>
                            <br>
                            <input type="radio" name="datatype" id="number" value="number">
                            <label for="number">Number</label>
                            <br>

                            <input type="radio" name="datatype" id="date" value="date">
                            <label for="date">Date</label>
                            <br>
                            <input type="radio" name="datatype" id="empty" value="empty">
                            <label for="empty">Empty</label>

                        </div>

                        
                        <div class="ops">
                            
                            <button id="btn-add-below" title="Add a new field below currently selected field">
                                <i class="fa-solid fa-plus-minus"></i>
                                    Append
                            </button>

                            <button id="delete-btn" class="delete-btn" title="Delete currently selected field">
                                <i class="fa-regular fa-trash-can"></i>
                                Delete</button>


                            <input type="submit" value="Save" class="save-btn" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- My polls-->
        <div class="rightparent" id="my-polls">
            <div class="top-content">
                <div class="top-container">
                    <div class="top-left">
                        <div class="left-con">
                            <div id="mobile">
                                <i id="bar" class="fa-solid fa-bars bar"></i>
                            </div>
                            <img src="{% static 'img/icon.svg' %}" alt="iconimage" id="icon-display">
                            <div class="left-right">
                                <h2>My polls</h2>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="top-right">
                        <input type="submit" value="Publish">
                    </div> -->
                </div>
            </div>
            <div class="bottom-content">
                
                {% if polls|length >= 1 %}
                <div class="poll-entity-container poll-en-con">
                    {% for poll in polls %}
                    <a class="poll-entity" href="/viewpoll/{{poll.poll_code}}/" id="poll-{{poll.id}}">
                        <div class="top-representation">
                            <div class="top-table-container" id="table-con-{{poll.id}}">
                            
                            </div>
                        </div>
                        <div class="bottom-representation">
                            <h3 class="p-n">{{poll.poll_name}}</h3>
                            <p class="p-c">{{poll.poll_code}}</p>
                            <p class="c-a" id="pb-date-{{poll.id}}">Published {{poll.created_at}}</p>

                            <!-- <div class="status-indicator-container">
                                <div class="status-indicator">
                                    <p>open</p>
                                </div>
                            </div> -->
                           
                        </div>
                    </a>
                    {% endfor %}
                </div>
                
                {% else %}
                <div class="emptiness">
                    <div class="emp-content">
                        <i class="fa-solid fa-cat"></i>
                        <p class="txt-ooh">Ooh such emptiness, try creating some polls</p>
                    </div>
                    
                </div>
                {% endif %}
               

               
               
            </div>
        </div>

        <!-- Registered polls  -->
        <div class="rightparent" id="rpolls">
            <div class="top-content">
                <div class="top-container">
                    <div class="top-left">
                        <div class="left-con">
                            <div id="mobile">
                                <i id="bar" class="fa-solid fa-bars bar"></i>
                            </div>
                            <img src="{% static 'img/icon.svg' %}" alt="iconimage" id="icon-display">
                            <div class="left-right">
                                <h2>Registered polls</h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="bottom-content">
                {% if registered_polls|length >= 1 %}
                <div class="all-polls poll-en-con">
                    {% for poll_value in registered_polls %}
                    <span class="poll-entity" onclick="displayReviewCard('{{poll_value.id}}')">
                        <div class="top-representation">
                            <div class="top-table-container testclass" id="value-table-con-{{poll_value.id}}">
                            
                            </div>
                        </div>
                        <div class="bottom-representation">
                            <h3 class="p-n">{{poll_value.poll_name}}</h3>
                            <p class="p-c">{{poll_value.poll_code}}</p>
                            <p class="c-a" id="reg-date-{{poll_value.id}}">Registered {{poll_value.registered_date}}</p>

                            <!-- <div class="status-indicator-container">
                                <div class="status-indicator">
                                    <p>open</p>
                                </div>
                            </div> -->
                           
                        </div>
                    </span>
                    {% endfor %}
                    
                </div>
                {% else %}
                <div class="emptiness">
                    <div class="emp-content">
                        <i class="fa-solid fa-cat"></i>
                 
                        <p class="txt-ooh">Polls you have registered in will appear here</p>
                    </div>
                    
                </div>
                {% endif %}
        </div>

        
    </div>


     <!-- Sort document -->
     <div class="rightparent" id="sort-doc">
        <div class="top-content">
            <div class="top-container">
                <div class="top-left">
                    <div class="left-con">
                        <div id="mobile">
                            <i id="bar" class="fa-solid fa-bars bar"></i>
                        </div>
                        <img src="{% static 'img/icon.svg' %}" alt="iconimage" id="icon-display">
                        <div class="left-right">
                            <h2>Sort a document</h2>

                        </div>
                    </div>
                </div>
                <!-- <div class="top-right">
                    <input type="submit" value="Publish">
                </div> -->
            </div>
        </div>
        <div class="bottom-content">
           <div class="bottom-left">
                <div class="file-show-case-container">
                    <div class="top-file-show-case">
                        <div class="content">
                            <!-- <i class="fa-regular fa-file"></i> -->
                            <i class="fa-solid fa-file"></i>
                            <p>.docx</p>
                        </div>
                    </div>

                    <div class="bottom-file-show-case">
                        <input type="file" name="document" placeholder="Browse" style="display: none;" id="sort-file" accept=".doc, .docx">
                        <h4 class="doc-title">No file chosen</h4>
                        <button id="choose-file-btn">Choose file</button>
                    </div>
                </div>
           </div>

           <div class="bottom-right">

           </div>
           
           
        </div>
    </div>

    <!-- Modal section v2 components-->
    <div class="modal-section" id="rev-values-modal">
        <div class="modal-content rev-changes-modal-content" >
            <i class="ri-close-line" id="close-modal" onclick="transitionModal('none')"></i>
            <div class="top-content">
                <h2>Your responses.</h2>
                <p class="alert-msg" id="rev-values-message"></p>
            </div>

            <div class="values-container" id="values-container">
                <div class="value">
                    <h4>Description:</h4>
                    <p>This is the description for your poll</p>
                </div>

            </div>

            <div class="actions-container">
                <a href="" id="link-to-edit-a"><button class="button-two" id="btn-save-changes">Edit Responses</button></a>
                <button id="delete-value-btn" class="button-two" style="background-color: var(--soft-red);">Delete responses</button>
                <!-- <button class="button-two back-to-editing" onclick="transitionModal('none')">Cancel</button> -->

            </div>
        </div>
    </div>

    <div class="modal-section" id="choose-create-option-modal">
        <form action="">
            {% csrf_token %}
            <input type="file" id="choose-ex-file" style="display: none;">
        </form>
        <div class="modal-content choose-create-option-content">
            <div class="showcase-modal">
                <h3 class="modal-title-txt">Create a new poll</h3>

                <i class="fa-solid fa-xmark" onclick="transitionModal('none')"></i>
            </div>

            <div class="actions">
                <div class="left-content dmark-content" id="scratch-poll">
                    <div class="generic">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs></defs><title>Asset 23gridder-icon-white</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="8.79" y="14.65" width="13.72" height="2.63" transform="translate(-6.69 16.64) rotate(-47.29)"/><rect class="cls-1" x="9.58" width="13.02" height="2.67"/><rect class="cls-1" x="9.58" y="29.33" width="13.02" height="2.67"/><rect class="cls-1" x="-5.25" y="14.63" width="31.89" height="2.63" transform="translate(-5.25 26.64) rotate(-90)"/><rect class="cls-1" x="5.36" y="14.74" width="31.89" height="2.63" transform="translate(5.25 37.36) rotate(-90)"/><rect class="cls-1" x="0.11" y="9.38" width="31.89" height="2.63"/><rect class="cls-1" y="19.99" width="31.89" height="2.63"/></g></g></svg>
    
                    </div>

                    <div class="explanation-container">
                        <h2 class="explanation-header">
                            New datagridder poll
                        </h2>

                        <p class="explanation">
                            Create a poll from scratch using datagridder
                        </p>
                    </div>
                </div>
    
                <div class="right-content dmark-content" id="from-document">
                    <div class="generic">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"/></svg>

                    </div>

                    <div class="explanation-container">
                        <h2 class="explanation-header">
                            From existing document
                        </h2>

                        <p class="explanation">
                            Create a poll from a document containing a populated table
                        </p>
                    </div>



                   
                </div>
            </div>

            <div class="action-btns">
                <button class="button-one" id="btn-create-poll">Create poll</button>
            </div>
           
        </div>
    </div>

    <div class="modal-section" id="v2-loading-modal">
        <div class="modal-content v1-loading-modal-content uncan-modal-con">
            <img src="{% static 'img/loading.gif' %}" alt="loading-image">
            <p class="loading-text">Loading, please wait..</p>
        </div>
    </div>

    <div class="modal-section" id="v2-alert-modal-1a">
        <div class="modal-content v2-alert-modal-1a" >
            <p class="alert-message-1a" id="res-alert-modal-1a-p">[ empty ]</p>
            <button class="button-one" id="res-alert-modal-1a-button">Ok</button>
        </div>
    </div>

    <div class="modal-container">
        <div class="modal-box">
           <div class="content">
            <p id="cus-alert-message">This is the message</p>
            <div class="button-container">
                <button id="ok-btn">Ok</button>
                <button id="cancel-btn">Cancel</button>
            </div>
           
           </div>
        </div>

    </div>


    <div class="delete-modal">
        <div class="delete-box">
           <div class="delete-content">
            <p id="delete-alert-message">Sure to delete?</p>
            <div class="button-container">
                <button id="ok-del">Delete</button>
                <button id="cancel-del">Cancel</button>
            </div>
           
           </div>

           <div class="prog-check">
                <div class="show-status">
                    <img src="{% static 'img/loading.gif' %}" alt="" width="30px" height="30px" id="spinner">
                    <i class="fa-solid fa-circle-check" id="check"></i>
                </div>
                <p class="status-text">Deleting poll..</p>
                <button id="finish-btn">Ok</button>
           </div>
        </div>
    </div>

    
    <div class="delete-entry-modal">
        <div class="delete-entry-box">
           <div class="delete-entry-content">
            <p id="delete-entry-message">Delete your entry for this poll?</p>
            <div class="button-container">
                <button id="ok-del-entry">Delete</button>
                <button id="cancel-del-entry">Cancel</button>
            </div>
           
           </div>

           <div class="prog-check-entry">
                <div class="show-status-entry">
                    <img src="{% static 'img/loading.gif' %}" alt="" width="30px" height="30px" id="entry-spinner">
                    <i class="fa-solid fa-circle-check" id="check-entry"></i>
                </div>
                <p class="status-text-entry">Deleting your entry</p>
                <button id="finish-btn-entry">Ok</button>
           </div>
        </div>
    </div>



    <div class="log-out-modal">
        <div class="modal-box">
            <p>Logout of your account?</p>
            <div class="actions">
                <p id="t-cancel-log-out">CANCEL</p>
                <a href="/logout"><p id="t-log-out">LOG OUT</p></a>
                
            </div>
        </div>
    </div>    

    <div class="toast" id="toast-1">
        <div class="toast-content">
            <div class="toast-con">
                <div class="left">
                    <div class="icon-con">
                        <i class="ri-checkbox-circle-fill"></i>
                    </div>
                    <div class="message-con">
                        <p>Poll deleted successfully</p>
                    </div>
                </div>
                <div class="right">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="progress-container">
                <progress id="toast-duration" value="60" max="100"> 32% </progress>
            </div>
        </div>
       
    </div>


    <script src="{% static 'js/components.js' %}"></script>
    <script src="{% static 'js/poll.js' %}"></script>
</body>
</html>