{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Gridder </title>


    <!-- My custom stylesheets -->
    <!-- <link rel="stylesheet" href="{% static 'compile/base.css' %}"> -->
   <link rel="stylesheet" href=" {% static 'compile/style.css' %}" >


    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

</head>
<body>

   
    <section class="landing">
       
        
        <div class="header" id="header">
            <div class="top-holder">
                <div class="gridder">
                    <h3 class="name-text">Data Gridder</h3>
                    <div class="right-stroke"></div>
                </div>

                <a href="/dashboard" class="dash-link">
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        {% if user_exists == 'true' %}
                        <p>{{user_profile.user.username}}</p>
                        {% else %}
                        <p>Sign in</p>
                        {% endif %}
                    </div>
                    </a>

                <div id="mobile">
                    <i id="bar" class="fa-solid fa-bars"></i>
                </div>
            </div>
          

            <div class="nav-bar">
                <i class="fa-solid fa-xmark" id="close-nav"></i>
                <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#about-section">About</a></li>
                <li><a href="#contact-us-section">Contact us</a></li>
                <li><a href="#get-input">Find poll</a></li>
                <li><a href="/documentation" target="_blank">Learn</a></li>
                <li><a href="/dashboard" >Dashboard</a></li>
                </ul>
                <a href="/dashboard" class="dash-link">
                    <div class="user">
                        <i class="fa-regular fa-user"></i>
                        {% if user_exists == 'true' %}
                        <p>{{user_profile.user.username}}</p>
                        {% else %}
                        <p>Sign in</p>
                        {% endif %}
                    </div>
                    </a>
            </div>   
        </div>

        
        <div class="bottom">
            <div class="left-content">
                <img src="{% static 'img/raw-people.svg' %}" alt="Hero image" loading="lazy">
            </div>
            <div class="right-content">
                <div class="content">
                    <p>Go from</p>
                    <h1>Form to document</h1>
                    <div class="line">

                    </div>
                    <p class="remark">Data gridder allows you to design forms, collect data and retrieve your data as a table placed in any document of your choice</p>
                    <button class="btn-new-poll">Create a poll</button>
                </div>
                
            </div>
        </div>
    </section>

   <section class="input-poll-code">
    <div class="left-content" id="get-input">
        <div class="content">
            <h1>Find a poll</h1>
            <div class="line"></div>
            <p class="remark">Want to register for a poll?, enter the poll code and we'll load it right up for you</p>
            <div class="form-div">
                <form id="find-poll-form">
                    {% csrf_token %}
                    <input type="text" name="poll-code" id="poll-code" class="poll-code-input" placeholder="Enter a poll code">

                    <button type="submit" name="" id="submit-btn" class="poll-submit"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
            </div>
            <div class="loading-poll-div">
                <img src="{% static 'img/loading.gif' %}" alt="Hero image" width="15px" height="15px">
                <p>fetching poll..</p>
            </div>
        </div>
      
    </div>

    <div class="right-content">
    
        <div class="des">
            <h2 class="question">What are polls?</h2>
            <p>Polls are a representation of the data your administrator would like you to provide, after retrieving a poll using its poll code, fill the form to complete your registration. Please note that the data you provide will be completely visible to the poll author  </p>
            <div class="img-con">
                <img src="{% static 'img/clip-board.png' %}" alt="Hero image" loading="lazy">
            </div>
            
        </div>

    </div>
    
   </section>

    <section class="about" id="about-section">
        <!-- <p class="prompt">Create a poll</p> -->
        <div class="top-container">
            <!-- <h3 class="topic-text">About</h3>
            <div class="topic-underline">

            </div> -->

            <div class="text-container">
                <div class="left">
                    <div class="icon-con">
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                    <p class="comment-text">
                        I'm impressed by how DataGridder effortlessly transforms form data into polished documents, saving me valuable time and effort.
                    </p>

                    <div class="comment">
                        <span class="line"></span>
                        <p class="comentator">
                            Kyrian Onuh
                       </p>
                    </div>
                   
                </div>

                <div class="right">
                    <div class="image-container">
                        <img src="{% static 'img/black-girl-laptop.webp' %}" alt="using-datagridder" loading="lazy">
                        <div class="overlay">
                            <div class="get-in-touch">
                                <h3>Data gridder</h3>
                                <p>Sit back and lets do the heavy <b>Typing</b> for you</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="container">
            <div class="content">
                <h4>1</h4>
                <h3>Create a new poll</h3>
                <p>A poll is a design of the data you would want to collect from your audience, select the new poll option in your dashboard to create a new poll. </p>
            </div>

            <div class="content">
                <h4>2</h4>
                <h3>Collect data</h3>
                <p>After creating your poll, distribute the poll code or poll link to your audience. The poll code is used in the "Find a Poll" section of this page, while the poll link allows direct access to the poll by pasting it into any preferred browser.
                </p>
            </div>

            <div class="content">
                <h4>3</h4>
                <h3>View data</h3>
                <p>Once users have registered for your poll, you can view the data in your poll through the "My Polls" option on your dashboard. Please note that this is only a preview of your data and does not reflect the actual appearance of your document.</p>
            </div>

            <div class="content">
                <h4>4</h4>
                <h3>Retrieve data</h3>
                <p>To retrieve your poll in document format, simply click the download button. You have the option to choose a custom name for the downloaded document. Once you click download, the file will begin downloading automatically.</p>
            </div>
        </div>
        
    </section>



    <section class="contact-us-section" id="contact-us-section">
        <div class="contact-content">
            <div class="left-content">
                <div class="image-container">
                    <img src="{% static 'img/cus-sup.png' %}" alt="data-gridder-customer-support" loading="lazy" >
                    <div class="overlay">
                        <div class="get-in-touch">
                            <h3>Get in touch</h3>
                            <p>We are open to receiving any suggestions that could contribute to enhancing our website for your better experience. Your feedback is valuable to us</p>
                         
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-content">
                <div class="content">
                    <form class="content" action="" method="POST" id="contact-form">
                        {% csrf_token %}
                        <p>Send us a message</p>
                        <!-- <input type="text" name="name" id="" placeholder="Name" class="text-input">
                        <input type="email" name="email" id="" placeholder="Your email" class="text-input">
                        <input type="text" name="subject" id="" placeholder="Subject" class="text-input">
                        <textarea name="message" id="" cols="30" rows="10" class="text-input" placeholder="Message"></textarea> -->
                     
                        {{ contact_form }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="modal-container" id="modal-container">
        <div class="modal-box">
            <!-- <div class="result-container">
                <div class="left-content">
                    <div class="det">
                        <p class="p-name" id="p-name" title="This is the very fucking long poll">This is a very fukcing long poll name</p>
                    </div>
                    <div class="det">
                        <i class="fa-regular fa-user"></i>
                        <p class="p-author" id="p-author">Udochukwu</p>
                    </div>
                    <div class="det">
                        <i class="fa-solid fa-key"></i>
                        <p class="p-code" id="p-code">DG-UI89756</p>
                    </div>
                </div>
    
                <div class="right-content">
                    <button id="btn-go">Go</button>
                    <button id="btn-cancel">Cancel</button>
                </div>
            </div> -->
        </div>
    </div>


    <div class="contact-confirmation modal-section" id="contact-confirmation-modal">
        <div class="modal-content contact-confirmation-modal-content">
            <img src="{% static 'img/vector-support.svg' %}" alt="email sent">
            <h1>Thanks for reaching out!</h1>
            {% if user_exists == 'true' %}
            <p>Hello {{user_profile.user.username}}, Thank you for contacting Datagridder. Your message has been received and will be addressed promptly. We appreciate your patience.</p>
            {% else %}
            <p>Hello, Thank you for contacting Datagridder. Your message has been received and will be addressed promptly. We appreciate your patience.</p>
            {% endif %}
            <button class="button-two"  onclick="transitionModal('none')">Done</button>
        </div>
    </div>


    <div class="modal-section" id="v2-loading-modal">
        <div class="modal-content v1-loading-modal-content uncan-modal-con">
            <img src="{% static 'img/loading.gif' %}" alt="loading-image">
            <p class="loading-text" id="loading-text">Loading, please wait..</p>
        </div>
    </div>

    <div class="modal-section" id="v2-alert-modal-1a">
        <div class="modal-content v2-alert-modal-1a" >
            <p class="alert-message-1a" id="res-alert-modal-1a-p">[ empty ]</p>
            <button class="button-one" id="res-alert-modal-1a-button">Ok</button>
        </div>
    </div>


    <div class="not-found-modal">
        <div class="not-found-modal-box"> 
            <div class="not-found-alert">
                <div class="left-content">
                    <img src="{% static 'img/not-found.svg' %}" alt="">
                </div>
                <div class="right-content">
                    <h4 class="remark-message">
                        Login required.. 
                    </h4>
                    <p class="message">
                        Dear user, For a better user experience and community security, we require that you login or sign up before accessing a poll
                    </p>

                    <div class="actions">
                        <a href="/login" class="login-link">Login</a>
                        <a href="/register" class="reg-link">Signup</a>
                    </div>
                </div>

                <i class="fa-solid fa-xmark" id="remove-not-found-modal"></i>
                <!-- <h4 id="mod-message">Your download should start automaticaly</h4>
                <p>You can now retrieve and customize your document to your better liking</p> -->
            </div>
            
        </div>
    </div>

    <footer>
        <div class="head">
            <div class="f-one">
                <div class="content">
                    <div class="gridder">
                        <img src="{% static 'img/or_icon.svg' %}" alt="Gridder image">
                        <h3 class="name-text">Data Gridder</h3>
                    </div>
                </div>
                
            </div>
            <div class="f-two a-list">
                <div class="content">
                    <p class="title">Discover</p>
                
                    <a href="/" class="active">Home</a>
                    <a href="#">About</a>
                    <a href="#">Contact us</a>
                    <a href="#get-input">Find poll</a>
                    <a href="#">Docs</a></li>
                    <a href="/dashboard">Dashboard</a>
                </div>
            </div>

            <div class="f-three a-list">
                <div class="content">
                    <p class="title">Activity</p>
                
                    <a href="/" class="active">My polls</a>
                    <a href="#">Registered polls</a>
                    <a href="#">New poll</a>
                    <a href="#get-input">Contact us</a>
                    
                </div>
            </div>

            <div class="f-four">
                <div class="content">
                    <div class="follow-us">
                        <p class="title">Folow us </p>
                        <div class="icon-list">
                            <i class="fa-brands fa-linkedin"></i>
                            <a href="https://twitter.com/CodeBee50" target="_blank"> <i class="fa-brands fa-twitter end"></i></a>
                           
                        </div>
                    </div>
                    <div class="images-by">
                       <p>Images by</p>
                       <img src="{%static 'img/free-icon.svg' %}" alt="">
                       <a href="https://www.freepik.com/" target="_blank">www.freepick.com</a>
                    </div>
                   
                </div>
            </div>
        </div>
        
        <div class="bottom">
            <div class="content">
                <p>Copyright @2023 </p>
                <img src="{% static 'img/codebee.svg'%}" alt="codebeeimg" class="side">
                <p class="side">All rights reserved</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/components.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>

    
    </body>

   


   