{% load static %}

<!DOCTYPE html>
<html>
<head>
<title> Login | Data gridder </title>

<link rel="stylesheet" href="{% static 'compile/sign.css' %}" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta name="google-signin-client_id" content="76109231996-c1oos79r4jntkkjkaeq0fsh8jpj2plck.apps.googleusercontent.com"> -->

<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>


    <section class="login">
       <div class="container">
        <div class="header">
            <div class="content">
                <div class="top">
                    <img src="{% static 'img/or_icon.svg' %}" alt="icon image">
                    <p>Data Gridder</p>
                </div>
                <p class="by">Powered by codebee</p>
            </div>
            
        </div>

        <div class="bottom">
            <div class="welcome">
                <p class="welcome-message">Welcome back!.. <span>Login</span></p>
            </div>
            <div class="form-con">
                <form action="/login?load_next={{load_next}}" method="POST">
                    {% csrf_token %}
                    <input type="email" name="email"  placeholder="Email" class="enter-input" required>
                    <input type="password" name="password" placeholder="password" class="enter-input" required> 
                    <input type="submit" name="login" value="Login">
                    {% for message in messages %}
                    {% if message.extra_tags == 'userverified' %}
                    <p class="warning" style="color: green;">{{message}}</p>
                    {% elif message.extra_tags == 'vrffailed'%}
                    <!-- this means users email has not been verified -->
                    <div class="modal-container visible">
                        <div class="modal-box">
                            <div class="content visible">
                                <div class="left">
                                    <i class="fa-regular fa-face-frown-open"></i>                    
                                </div>
                                <div class="right">
                                    <i class="fa-solid fa-xmark" id="remove-modal"></i>
                                    <p>The account associated with that email address is not verified, please Verify your emaii. We cant wait to have you onboard with us </p>
                                    <a href="/resend-activation-email/{{userid}}" class="vrf-a-button">Send verification mail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="warning">{{message}}</p>
                    {% endif %}
                    
                    {% endfor %}
                    <p class="txt-forgot">Forgot password? <span><a href="{% url 'request-reset-email' %}">Reset</a></span></p>
                    <p class="txt-already">Dont have an account? <span><a href="/register">Sign up</a></span></p>

                    
                </form>
            </div>

            <div class="auth-options">
                <div class="header-container">
                    <span class="line"></span>
                    <p class="txt-or">OR</p>
                    <span class="line"></span>
                </div>


                <script src="https://accounts.google.com/gsi/client" async defer></script>
                
                <div id="g_id_onload"
                        data-client_id="{{g_client_id}}"
                        data-context="signin"
                        data-ux_mode="popup"
                        data-callback="handleCredentialResponse"
                        data-auto_prompt="false">
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="outline"
                    data-text="continue_with"
                    data-size="large"
                    data-logo_alignment="left"
                    data-width="300">
                </div>

                <div class="options-container">
                    <!-- <a href="" class="option-wrapper">
                        <button class="option">
                            <img src="{% static 'img/google.png' %}" alt="google icon logo">
                            <p class="option-prompt">Continue with Google</p>
                        </button>
                    </a> -->
                </div>

            </div>
        </div>
       </div>

      
    </div>

       <a href="/contact-datagridder" class="contact-data-gridder" title="contact us"> <i class="fa-regular fa-circle-question"></i>
       </a>
    </section>


    <script src="{% static 'js/components.js?v=2' %}"></script>
    <script src="{% static 'js/login.js?v=2'%}"></script>

   
</body>
</html>