{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locked poll | datagridder</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/locked-icon.svg' %}">

    <link rel="stylesheet" href="{% static 'compile/polllocked.css' %}" type="text/css">

</head>
<body>
    <div class="locked-explanation-container">
        <div class="locked-explanation-content">
            <div class="top-content">
                <img src="{% static 'img/icon.svg' %}" alt="Data grider, home of forms">
                <h3>Datagridder</h3>
            </div>

            <div class="line">

            </div>
            <div class="bottom-content">
                <h1>Poll is Locked!</h1>
                <p>The poll is presently locked by the poll author. If you believe this is an error or have any concerns, 
                    please reach out to the poll author for further clarification or assistance. Thank you for your understanding.</p>
            </div>
            <div class="buttons">
               <a href="/"> <button class="button-two">Back to home</button></a>
            </div>
        </div>
    </div>
</body>
</html>