{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My custom stylesheets -->
    <link rel="stylesheet" href="{% static 'compile/pub.css' %}" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
    <title>Publish poll | datagridder</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

</head>
<body>

    <input type="hidden" name="domain" id="domain" value="{{domain}}">

    <section class="publish-section section">
        <h1 class="header-message">Publish your poll</h1>
        <div class="hor-line"></div>

        <div class="form-holder">
            <form action="/publish" id="publish-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-container">
                    <h4 class="txt-input-name">Name</h4>
                    <input type="text" name="poll-name" id="poll-name" placeholder="Enter a name for your poll" required class="text-input-101">
                </div>

                <div class="input-container">
                    <h4 class="txt-input-name">Description</h4>
                    <textarea name="poll-description" id="poll-description" cols="30" rows="5" placeholder="Describe your poll" class="text-input-101"></textarea>
                </div>

                <div class="input-container">
                    <h4 class="txt-input-name">Append a document (optional)</h4>

                    <div class="file-input-container">
                        <img src="{% static 'img/doc-doc.svg' %}" alt="document-image">

                        <div class="file-info-container">
                            <p class="file-name"><b>No file chosen but this is where you are supposed to choose a file from you this </b></p>
                            <p>Tap to choose file (.docx)</p>
                            <input type="file" name="document" id="file" accept=".doc, .docx" style="display: none;"> 
                        </div>

                        <div class="remove-file-container">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>

                <div class="content-holder">
                    <h3>Table preview</h3>
                    <p class="publish-message">From your design, this is what the headers for your table would look like</p>
         
                    <div class="table-preview-container">
                     <div class="table-preview">
                         <!-- this will hold the table, it will be populated from publish.js  -->
                     </div>
                    </div>
         
                 </div>
                <!-- <p class="append-suggest">Append a document (optional)</p>
                <input type="file" name="document" id="file" accept=".doc, .docx"> -->
                <button type="submit" class="button-one">Publish</button>

            </form>
        </div>

       

         
    </section>

    <section class="main-section section">
       <div class="left-container">

        <!-- <div class="content-holder">
           <h3>Table preview</h3>
           <p class="publish-message">From your design, this is what the headers for your table would look like</p>

           <div class="table-preview-container">
            <div class="table-preview">

            </div>
           </div>

        </div> -->
       </div> 

       <div class="right-container">
        <div class="user-attribute">
            <p>Publishing as: <b>{{user.username}}</b></p>
        </div>

        <div class="form-holder">

            <form action="/publish" id="publish-form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="poll-name" id="poll-name" placeholder="Poll name" required class="text-input-101">
                <p class="append-suggest">Append a document (optional)</p>
                <input type="file" name="document" id="file" accept=".doc, .docx">
                <button type="submit" class="button-one">Publish</button>
            </form>
        </div>
       </div>
    </section>

    <section class="explanation-section section">
        <h1 class="header-text">When and how should you append a document?</h1>

        <div class="top-explanation">
            <div class="top-left">
                <img src="{% static 'img/happy-man.svg' %}" alt="happy using datagridder" >

            </div>

            <div class="top-right">
                <p>

                    <span class="breaker">Integrate Your Custom Designs:</span> <br>

                    Easily incorporate headers, titles, and more into your documents. Craft your designs in any preferred document editor, then simply upload the file. Datagridder seamlessly integrates your poll data as a table precisely where you specify. <br>
                    
                    <span class="breaker">Designating the Insertion Point: </span><br>
                    
                    To guide Datagridder, insert a 'dg' table—a one-row, one-column table with 'dg' as its content. This defines the position where your poll data will be appended. A sample dg table is shown below <br>
                    
                    <span class="breaker">No Document Provided? No Problem:</span> <br>
                    
                    If no document is uploaded, your poll data will be seamlessly integrated into a newly generated document.
                </p>
               
            </div>
        </div>
    </section>

    <section class="sample-items-section section">
        <h2>A sample dg table</h2>
        <p>This is called a dg table, it tells datagridder where to append your poll data</p>
        <img src="{% static 'img/sample-dg.png' %}" alt="">


        <div class="video-container">
            <h3 class="video-prompt">Learn to use datagridder on youtube</h3>
            <iframe style="max-width: 560px;" width="90%" height="315px" src="https://www.youtube.com/embed/_dWU12_BNKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>       
             </div>    
            </section>


    
    <div class="modal-container" id="modal-container">
        <div class="modal-box">
            <div class="progress-bar-con" id="progress-container">
                <img src="{% static 'img/loading.gif' %}" alt="" width="30px" height="30px">

                <div class="progress-details">
                    <p>creating poll...</p>
                </div>
            </div>

            <div class="display-result" id="result-container">
                <i class="fa-solid fa-circle-check"></i>
                <h3 class="txt-created">Poll Created</h3>
                <div class="details">
                   <div class="detail">
                        <div class="left">
                            <p>Poll code: </p>
                            <h5 class="value" id="txt-poll-code"></h5>
                        </div>
                        <div class="tooltip">
                        <i class="fa-solid fa-copy" id="copy-poll-code"></i>
                        </div>
                   </div>

                   <div class="detail">
                    <div class="left">
                        <p>Link: </p>
                        <h5 class="value poll-link" id="txt-poll-link"></h5>
                    </div>
                    <div class="tooltip">
                    <i class="fa-solid fa-copy" id="copy-poll-link"></i>
                    </div>
               </div>


                   <div class="detail">
                    <div class="left">
                        <p>Poll name:</p>
                        <h5 class="value" id="txt-poll-name"> </h5>
                    </div>
                        
                    </div>

                    <div class="detail">
                        <div class="left">
                            <p>Owner: </p>
                            <h5 class="value" id="txt-poll-owner">-</h5>
                        </div>
                        
                    </div>
                            
                    
                </div>
        
                <div class="bottom">
                    <p>share this poll code with your target audience</p>
                    <button class="done" id="btn-done">Done</button>
                </div>
               
            </div>
            
            <div class="warning" id="warning-div">
                <p id="warning-messsage">warning</p>
                <button class="done" id="warn-done">Done</button>

            </div>
        </div>
    </div>

    <div class="ex-dg-modal" id="ex-dg-modal">
        <!-- <i class="fa-regular fa-circle-xmark"></i> -->
        <i class="fa-solid fa-xmark" id="remove-ex-dg"></i>
        <div class="m-box">
            <img src="{% static 'img/sample-dg.png' %}" alt="" >
        </div>
    </div>
    
    <script src="{% static 'js/publish.js' %}"></script>
    
    
</body>
</html>