{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pollname}} | datagridder</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">

    <link rel="stylesheet" href="{% static 'compile/reg.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>
<body>

    <form action="">
        <input type="hidden" name="pollcode" value="{{pollcode}}" id="in-poll-code">
        <input type="hidden" name="value_id" value="{{value_id}}" id="value_id">
    </form>

    {% if statusCode == 200 %}

    {% if is_authenticated or guest %}
   <section class="hero-section">
    <div class="hero-image-container">
        
        <div class="overlay"></div>
        <img src="{% static 'img/background.webp' %}" alt="Image" class="hero-image">
    </div>

    <div class="content-container">
        <div class="content-header">
            <img src="{% static 'img/or_icon.svg' %}" alt="icon image">
            <h1 class="content-title">Data Gridder</h1>
        </div>

        <div class="content-center">
            <h1> {{pollname}}</h1>

            <div class="center-details">
                <div class="det">
                    <i class="fa-solid fa-key"></i>
                    <p>{{pollcode}}</p>
                </div>

                <div class="det">
                    <i class="fa-regular fa-user"></i>
                    <p id="poll-author-text">{{pollauthor}}</p>
                </div>

                <div class="det">
                    <i class="fa-solid fa-users"></i>
                    <p>{{itemcount}}</p>
                </div>
            </div>
        </div>

      
    </div>
   </section>

   <section class="content-section">
        <p id="prompt">Please fill the fields below</p>
        <form action="" class="input-form" method="POST" id="submit-form">
           {%csrf_token%} 
            <div class="input-container">
            </div>

            <button type="submit" value="Submit" id="submit" class="button-one">Continue</button>

            <div class="progress-bar" id="progress-bar">
                <img src="{% static 'img/loading.gif' %}" alt="Hero image" width="15px" height="15px">
                <p>parsing values..</p>
            </div>
        </form>
   </section>

    <div class="message-modal">
        <div class="message-modal-box">
            <div class="content">
            <div class="icons">
                <i class="fa-solid fa-circle-check" id="check-mark"></i>
                <i class="fa-solid fa-circle-exclamation" id="error-mark"></i>
            </div>
            <div class="message-div">
                <p id="txt-message"></p>
                <button id="remove-message-modal">Done</button>
            </div>
            </div>
        </div>
    </div>


</div>

    

    {% else %}
    <section class="not-authenticated">
        <div class="left-content">
            <img src="{% static 'img/happy-man.svg' %}" alt="">
        </div>

        <div class="right-content">
            <h1>Good to have you here!</h1>
            <!-- <p>You have successfully accessed datagridder and we are glad to have you here. Meanwhile, For a better user experience and community security, we strongly advice that you login or sign up before accessing a poll. please <a href="/login" target="_blank">Login</a> or <a href="/register" target="_blank">signup</a> for an account then try accessing the poll again</p> -->
            <p>You have successfully accessed datagridder and we are glad to have you here. Meanwhile, For a better user experience and community security, we strongly advice that you login or sign up before accessing a poll.</p>

            <div class="actions">
                <a href="/login?load_next=/regpoll/{{pollcode}}/nb/" target="_blank" class="button-one">Login/Register</a>

                <a href="/regpoll/{{pollcode}}/nb?guest=true" class="reg-a button-one" >Continue anyway</a>
            </div>
        </div>


    </section>
    {% endif %}

    {% else %}

    <div class="modal-container visible">
        <div class="modal-box">
            <div class="left-content">
                <div class="oops">
                    <i class="fa-solid fa-cat"></i>
                    <p>Oops...</p>
                </div>
               
                <p class="page-not">Page not found</p>
                <p class="explanation">
                    We couldn't find the poll located at that link. This might be due to an incorrect link or a deleted poll, please check your link or contact
                    your poll creator for assistance
                </p>
                <a href="/">
                    <button class="button-one">Back to home</button>
                </a>
            </div>
    
            <div class="right-content">
    
            </div>
           
           </div>
        </div>
    {% endif %}

    <div class="modal-section opaque-modal-section" id="op-one">
        <img src="{% static 'img/loading.gif' %}" alt="loading-datagridder-poll" >
        <p class="message-txt" id="op-message-one">Loading..</p>
    </div>

    <div class="modal-section" id="response-review-modal">
        <div class="modal-content response-review-modal-content">
            <i class="fa-solid fa-xmark response-close-btn" id="response-close-btn"></i>
            <h2>Your responses</h2>

            <div class="responses-container">
               
            </div>

            {% if not is_authenticated %}
            <div class="warning-container">
                <p><span><b>*</b></span> We've observed that you're currently not logged in. Creating an account offers you the valuable advantage of being able to edit your responses even after you've submitted them.</p>
            </div>
            {% endif %}

            <div class="response-actions-container">
                {% if is_authenticated %}
                <button class="button-two" id="btn-submit-responses">Submit
                    <img src="{% static 'img/spinner.gif' %}" alt="loading">
                </button>
                {% else %}
                <button class="button-two" id="btn-submit-responses">Submit anyway
                    <img src="{% static 'img/spinner.gif' %}" alt="loading">
                </button>
                {% endif %}

                {% if not is_authenticated%}
                <a href="/login" target="_blank">login/register</a>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- <div class="modal-section visible">
        <div class="modal-content rocket-alert-modal-content">
            <img src="/static/img/sad-roach.svg" alt="Response recorded successfully">
            <div class="messages-container">
                <h3>Something went wrong!</h3>
                <p>An error occured while trying to submit your response, please try again.</p>
            </div>
            <div class="actions-container">
                <button class="button-two">Done</button>
            </div>
        </div>
    </div> -->
    
<footer>
    <div class="head">
        <div class="f-one">
            <div class="content">
                <div class="gridder">
                    <img src="{% static 'img/or_icon.svg' %}" alt="Gridder image">
                    <h3 class="name-text">Data Gridder</h3>
                </div>

                <!-- <div class="codebee">
                    <p>Powered by</p>
                    <img src="{% static 'img/codebee.svg' %}" alt="">
                </div> -->
            </div>
            
        </div>
        <div class="f-two a-list">
            <div class="content">
                <p class="title">Discover</p>
            
                <a href="/" class="active">Home</a>
                <a href="#">About</a>
                <a href="#">Contact us</a>
                <a href="#get-input">Find poll</a>
                <a href="#">Docs</a></li>
                <a href="/dashboard">Dashboard</a>
            </div>
        </div>

        <div class="f-three a-list">
            <div class="content">
                <p class="title">Activity</p>
            
                <a href="/" class="active">My polls</a>
                <a href="#">Registered polls</a>
                <a href="#">New poll</a>
                <a href="#get-input">Contact us</a>
                
            </div>
        </div>

        <div class="f-four">
            <div class="content">
                <div class="follow-us">
                    <p class="title">Folow us </p>
                    <div class="icon-list">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-twitter end"></i>
                    </div>
                </div>
                <div class="images-by">
                   <p>Images by</p>
                   <img src="{%static 'img/free-icon.svg' %}" alt="">
                   <a href="https://www.freepik.com/" target="_blank">www.freepick.com</a>
                </div>
               
            </div>
        </div>
    </div>
    
    <div class="bottom">
        <div class="content">
            <p>Copyright @2023 </p>
            <img src="{% static 'img/codebee.svg'%}" alt="codebeeimg" class="side">
            <p class="side">All right reserved</p>
        </div>
    </div>
</footer>

<script src="{% static 'js/components.js' %}"></script>
<script src="{% static 'js/reg.js' %}"></script>  
</body>
</html>
