{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/sign.css' %}" >

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section class="login">
        {% if mode == 'confirmreset' %}
        <div class="confirm-reset-container">
            <div class="confirm-content">
                <h1 class="header-info">Password reset</h1>
                <p class="message">Your password has been changed, you can now <span title="Login to your account"><a href="/login">login</a></span> using your new password. Thanks for choosing data gridder</p>
            </div>
        </div>
        {% elif mode == 'invalidresetlink' %}
        <div class="failed-container">
            <div class="act-failed">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p class="went-wrong">Invalid link</p>
                <p class="message">{{message}}</p>
                
                <!-- <a href="#"><button id="resend-btn">Get a new link</button></a> -->
                <a href="/request-reset-email">Request a new reset link</a>
            </div>
        </div>
       
        {% else %}
        <div class="container">
         <div class="header">
             <div class="content">
                 <div class="top">
                     <img src="{% static 'img/or_icon.svg' %}" alt="icon image">
                     <p>Data Gridder</p>
                 </div>
                 <p class="by">Powered by codebee</p>
             </div>
             
         </div>
 
         <div class="bottom">
             <div class="welcome">
                 <p class="welcome-message">Set a new <span>password</span></p>
                 <!-- <p class="reset-message">
                    Enter the email associated with your account so we can send you a link to reset your password
                 </p> -->
             </div>
             <div class="form-con">
                 <form action="{% url 'set-new-password' uidb64 token %}" method="POST">
                     {% csrf_token %}
                    
                     <input type="password" name="password" placeholder="password" class="enter-input password-input" required id="password-one">
                     <input type="password" name="password2" placeholder="Confirm password" class="enter-input password-input" required id="password-two">

                     <input type="submit" name="reset-password" value="Reset password">
                     <p class="warning" id="front-warning">passwords does not match</p>
                     {% for message in messages %}
                     {% if message.extra_tags == 'passwordinfo' %}
                     <p class="warning">{{message}}</p>
                     {% else %}
                     <p class="warning">{{message}}</p>
                     {% endif %}
                    {% endfor %}
                     <p class="txt-already">Dont have an account? <span><a href="/register">Sign up</a></span></p>
                 </form>
             </div>
         </div>
 
 
        </div>
        {% endif %}


     </section>



     <script src="{% static 'js/signup.js' %}"></script>
</body>
</html>