{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% sass_src 'style/viewpoll.scss' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
    <title>{{poll.poll_name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

</head>
<body>
    
    <form action="" method="POST" id="edit-form">
        {% csrf_token %}
    <input type="hidden" name="pollcode" id="hd-code" value="{{poll.poll_code}}">
    <input type="hidden" name="domain" id="domain" value="{{domain}}">
   
        
    <div class="more" id="see-details">
        <i class="fa-solid fa-ellipsis-vertical"></i>
        <!-- <span class="tooltiptext" id="copy-poll-tooltip-text">View details</span> -->
    </div>
        
    
    <div class="holder">
        <section class="header-section">
            <div class="top-content">
                <div class="showcase">
                    <img src="{% static 'img/icon.svg' %}" alt="icon image">
                    <h1 class="content-title">Data Gridder</h1>
                </div>
    
                <div class="top-right">
                    
                    <div class="generate-btn" id="generate-btn">
                        <!-- <i class="fa-solid fa-print"></i> -->
                        <p>Download</p>
                    </div>
        
                    <div class="settings-btn" id="edit-poll">
                        <p>Settings</p>
                    </div>

                   
                </div>
            </div>
            <div class="middle-left">
                <h1>{{poll.poll_name}}</h1>
                
                <div class="poll-details">
                
                    <div class="population">
                    
                        <i class="fa-solid fa-users"></i>
                        <p id="people-count">{{peoplecount}} Registered</p>
                    </div>
                </div>


            </div>
          
        </section>
    
        <section class="container">
           
            <div class="preview-holder">
                <div class="table-container">
                    <!-- this will hold the table, it will be populated from publish.js  -->
                    <!-- <iframe src="temp-29094588-69b0-4bad-8769-08f63895e836.docx" frameborder="0"></iframe> -->
    
                </div>
            </div>
            
        </section>
        
    </div>
    
    
  
    <div class="modal-container">
            <div class="modal-box">
                <div class="content">
                  <div class="edt-name">
                      <p>Poll name</p>
                      <input type="text" id="poll-name-input">
                  </div>
      
                  <div class="document">
                      <input type="file" name="document" placeholder="Browse" style="display: none;" id="file" accept=".doc, .docx">
                      <p class="t-p">Appended document</p>
                      <div class="file-det">
                          <div class="details">
                              <i class="fa-solid fa-file"></i>
                              <p class="file-name" id="file-name">document_for_manipulation.png</p>
                          </div>
      
                          <div class="actions">
                              <p id="txt-change-file">Update</p>
                          </div>     
                      </div>
                  </div>
      
                  <div class="m-buttons">
                      <button id="save-btn">Save</button>
                      <button id="discard-btn">Cancel</button>
                  </div>
      
                  <div class="loading">
                      <div class="load">
                          <p>saving</p>
                          <img src="{% static 'img/loading.gif' %}" alt="" width="15px" height="15px">
                      </div>
                  </div>
                  
                  
                </div>

                <div class="success-div">
                    <i class="fa-solid fa-circle-check"></i>
                    <h3 id="mod-message">Poll modified successfully</h3>
                </div>
              </div>
       
       

    </div>

    <div class="download-modal">
        <div class="download-modal-box">
            <div class="download-content">
                <div class="modal-header">
                    <i class="fa-solid fa-download"></i>
                    <!-- <i class="fa-sharp fa-solid fa-file-arrow-down"></i> -->
                    
                    <p>Download</p>
                 
                </div>
                
                <div class="content">
                    <div class="file-det">
                        <!-- <i class="fa-regular fa-file"></i> -->
                        <div class="details">
                            <i class="fa-solid fa-file"></i>
                            <p class="name-des">File name:</p>
                            <p id="txt-file-name"></p>
                        </div>
                        <i class="fa-solid fa-pen-to-square" id="edit-name-i"></i>
    
                    </div>
    
                    <div class="edit-container">
                        <input type="text" name="new-name-edt" id="new-name-edt" placeholder="File name">
                        <div class="edit-actions">
                            <i class="fa-solid fa-check" id="confirm-edit"></i>
                            <i class="fa-solid fa-xmark" id="cancel-edit"></i>
                        </div>
                
                    </div>
                    
                    <div class="number-check">
                        <input type="checkbox" name="number-document" id="number-document">
                        <label for="number-document">Number my list</label>

                    </div>
                    <div class="m-buttons">
                        <a id="download-link-tag"></a>
                        <button id="download-btn">Download</button>
                        
                        <button id="cancel-download">Cancel</button>
                    </div>
                </div>
            </div>
           
            
            <div class="download-alert">
                <i class="fa-solid fa-circle-check"></i>
                <h4 id="mod-message">Your download should start automaticaly</h4>
                <p>You can now retrieve and customize your document to your better liking</p>
            </div>
            
        </div>
    </div>


    <div class="display-details-moadal" id="display-details-modal">
        <div class="modal-box">
           
            <div class="display-result" id="result-container">
                <div class="details">
                    <div class="detail">
                        <div class="left">
                            <p>Poll code: </p>
                            <h5 class="value" id="txt-poll-code"> {{poll.poll_code}}</h5>
                        </div>
                        <div class="tooltip">
                        <i class="fa-solid fa-copy" id="copy-poll-code"></i>
                        <span class="tooltiptext" id="cpc-tool-tip">Copy poll code</span>
                        </div>
                    </div>

                    <div class="detail">
                    <div class="left">
                        <p>Link: </p>
                        <h5 class="value poll-link" id="txt-poll-link"></h5>
                    </div>
                    <div class="tooltip">
                    <i class="fa-solid fa-copy" id="copy-poll-link"></i>
                    <span class="tooltiptext" id="cpl-tool-tip">Copy poll link</span>
                    </div>
                </div>


                    <div class="detail">
                    <div class="left">
                        <p>Poll name:</p>
                        <h5 class="value" id="txt-poll-name">{{poll.poll_name}} </h5>
                    </div>
                        
                    </div>

                    <div class="detail">
                        <div class="left">
                            <p>Owner: </p>
                            <h5 class="value" id="txt-poll-owner">{{poll.poll_author}}</h5>
                        </div>
                        
                    </div>
                            
                    
                </div>
        
                <div class="bottom">
                    <p>share this poll code or link with your target audience</p>
                    <button class="done" id="btn-done">Done</button>
                </div>
                
            </div>
            
        </div>
    </div>
</form>


    <script src="{% static 'js/viewpoll.js' %}"></script>
</body>
</html>