{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
    <link rel="stylesheet" href="{% static 'compile/viewpoll.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/or_icon.svg' %}">
    <title>{{poll.poll_name}} | View poll</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    
    <form action="" method="POST" id="edit-form">
        {% csrf_token %}
    <input type="hidden" name="pollcode" id="hd-code" value="{{poll.poll_code}}">
    <input type="hidden" name="domain" id="domain" value="{{domain}}">
   
        
 
        
    <section class="section content-section">
        <div class="top-content">
            <div class="showcase">
                <img src="{% static 'img/icon.svg' %}" alt="icon image">
                <h1 class="content-title">Data Gridder</h1>
            </div>

            <div class="top-right">
                
                <div class="generate-btn" id="generate-btn" title="Download document">
                    <i class="ri-download-2-line"></i>
                  
                </div>
    
                <div class="settings-btn" id="edit-poll" title="Settings">
                    <i class="ri-settings-line"></i>
                </div>

               
            </div>

        </div>

        <div class="poll-inf-set">
            <div class="poll-name-desc">
                <h1>{{poll.poll_name}}</h1>
                {% if poll.description %}
                <p class="poll-description">{{poll.description}}</p>
                {% endif %}

            
            </div>
        </div>

        <div class="copyables">
            <div class="copyable">
                <p class="copy-item" id="txt-copy-poll-link">http://{{domain}}/regpoll/{{poll.poll_code}}/nb/</p>
                <button class="btn-copy" id="copy-poll-link">Copy link</button>
            </div>

            <div class="copyable">
                <p class="copy-item" id="txt-copy-poll-code">{{poll.poll_code}}</p>

                <button class="btn-copy" id="copy-poll-code">Copy code</button>
            </div>
        </div>

        <div class="table-ops">
            
            <div class="poll-ops-info">
                {% if peoplecount == 1 %}
                <p id="people-count" class="people-count"><b>{{peoplecount}}</b> participant</p>
                {% else %}
                <p id="people-count" class="people-count"><b>{{peoplecount}}</b> participants</p>
                {% endif %}    

                <div class="right-ops-container">
                    {% if poll.status == 'LC' %}
                    <button class="change-status-button op-btn" onclick="displayEditModal()">
                        <i class="ri-lock-line"></i>
                        <p>Locked</p>
                    </button>
                    {% else %}
                    <button class="change-status-button op-btn" onclick="displayEditModal()">
                        <i class="ri-lock-unlock-line"></i>
                        <p>Open</p>
                    </button>
                    {% endif %}
                    <button class="delete-poll-button op-btn" onclick="transitionModal('v2-delete-poll-warning')">
                        <i class="ri-delete-bin-line"></i>
                        <p>Delete</p>
                    </button>
                </div>
            </div>
                   

            <div class="table-container">
                <!-- this will hold the table, it will be populated from publish.js  -->
    
            </div>
        </div>
        
    </section>
    
    <div class="modal-section" id="v2-delete-poll-warning">
        <div class="modal-content delete-poll-content" >
            <i class="ri-close-line cancel-delete-icon" onclick="transitionModal('none')"></i>

            <h3>Delete poll?</h3>
            <p class="delete-warning-msg">Are you sure to delete this poll from the datagridder platform?</p>

            <div class="warning-container">
                <div class="top-warning">
                    <i><i class="ri-alert-fill"></i></i>
                    <h4>Warning</h4>

                </div>
                <p>By deleting this poll, <b>{{peoplecount}}</b> participant records will also be permanently deleted. This action is irreversible!. </p>
            </div>

            <div class="buttons-container">
                <button class="cancel-btn" onclick="transitionModal('none')">
                    Cancel
                </button>
                <button class="delete-btn" id="btn-delete-poll" data-pollcode="{{poll.poll_code}}">
                    <i class="ri-delete-bin-line" ></i>Delete
                </button>
            </div>
        </div>
    </div>

    <div class="modal-container modal-section">
            <div class="modal-box">
                <div class="content">
                    <div class="header">
                        <div class="left">
                            <i class="ri-settings-line"></i>
                            <p>Edit poll</p>
                        </div>

                        <div class="right">
                            <svg onclick="restAndRemoveEdit()" id="discard-btn" stroke="currentColor" fill="currentColor" stroke-width="10" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>

                        </div>
                       

                    </div>

                  <div class="edt-name con">
                      <h5 class="intro-txt">Poll name</h5>
                      <div class="counter-input">
                        <input type="text" id="poll-name-input" class="text-input-101">

                        <div class="counter">
                            <p id="txt-input-word-count">0/60</p>
                        </div>
                      </div>
                  </div>

                  <div class="edt-desc con">
                    <h5 class="intro-txt">Description</h5>
                    {% if poll.description %}
                    <textarea name="" id="description" cols="30" rows="5" class="text-input-101">{{poll.description}}</textarea>
                    {% else %}
                    <textarea name="" id="description" cols="30" rows="5" class="text-input-101" placeholder="Tell us something about your poll"></textarea>
                    {% endif %}
                  </div>
                  <div class="status-container con">
                    <h5 class="intro-txt">Poll status</h5>
                    <div class="radio-selects-container">
                      {% if poll.status == 'LC' %}
                      <div class="radio-select selected" data-radiovalue="locked">
                        <input type="radio" name="poll-status" value="LC" class="radio" id="radio-locked" checked>
                        <div class="right">
                            <h4>Locked</h4>
                            <p>Access to poll will be restricted, and users won't be able to participate or engage with it.</p>
                        </div>
                    </div>
                    <div class="radio-select" data-radiovalue="open">
                        <input type="radio" id="radio-open" name="poll-status" value="OP" class="radio">
                        <div class="right">
                            <h4>Open</h4>
                            <p>Poll will be publicly available to every user. </p>
                        </div>
                    </div>
                        {% else %}
                        <div class="radio-select" data-radiovalue="locked">
                            <input type="radio" name="poll-status" value="LC" class="radio" id="radio-locked">
                            <div class="right">
                                <h4>Locked</h4>
                                <p>Access to poll will be restricted, and users won't be able to participate or engage with it.</p>
                            </div>
                        </div>
                        <div class="radio-select selected" data-radiovalue="open">
                            <input type="radio" id="radio-open" name="poll-status" value="OP" class="radio" checked>
                            <div class="right">
                                <h4>Open</h4>
                                <p>Poll will be publicly available to every user. </p>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                  </div>
      
                  <div class="document con">
                      <input type="file" name="document" placeholder="Browse" style="display: none;" id="file" accept=".doc, .docx">
                      <!-- <p class="t-p">Appended document</p> -->
                      <h5 class="intro-txt">Appended document</h5>
                      <div class="file-det">
                          <div class="details">
                            <i class="ri-file-line"></i>                              
                              <p class="file-name" id="file-name">document_for_manipulation.png</p>
                          </div>
      
                          <div class="actions">
                            <button class="file-action" id="txt-change-file">Update</button>
                            <button class="file-action btn-remove" id="btn-remove">Remove</button>
                              <!-- <p id="txt-change-file">Update</p>
                              <p id="txt-remove-file">Remove</p> -->
                          </div>     
                      </div>
                  </div>
      
                  <div class="m-buttons">
                      <button id="save-btn"  class="button-two">Save</button>
                        <!-- <button id="cancel-edit-btn" class="button-two">Cancel</button> -->
                  </div>

                  <!-- <div class="reset-div">
                    <button id="btn-reset-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 4C9.25144 4 6.82508 5.38626 5.38443 7.5H8V9.5H2V3.5H4V5.99936C5.82381 3.57166 8.72764 2 12 2C17.5228 2 22 6.47715 22 12H20C20 7.58172 16.4183 4 12 4ZM4 12C4 16.4183 7.58172 20 12 20C14.7486 20 17.1749 18.6137 18.6156 16.5H16V14.5H22V20.5H20V18.0006C18.1762 20.4283 15.2724 22 12 22C6.47715 22 2 17.5228 2 12H4Z" fill="currentColor"></path></svg>
                        Reset values</button>
                  </div> -->
                  
      
                 
              </div>
            </div>
    </div>

    <div class="download-modal">
        <div class="download-modal-box ">
            <div class="download-content">
                <div class="modal-header">
                    <div class="left">
                        <i class="ri-download-2-line"></i>                        
                        <p>Download</p>
                    </div>

                    <div class="right">
                        <svg id="cancel-download" stroke="currentColor" fill="currentColor" stroke-width="10" viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>

                    </div>



                 
                </div>
                
                <div class="content">
                    <div class="file-det">
                        <div class="details">
                            <i class="ri-file-line"></i>                            
                            <p class="name-des">File name:</p>
                            <p id="txt-file-name"></p>
                        </div>
                        <i class="ri-edit-box-line" id="edit-name-i"></i>
    
                    </div>
    
                    <div class="edit-container">
                        <input type="text" name="new-name-edt" id="new-name-edt" placeholder="File name">
                        <div class="edit-actions">
                            <i class="ri-check-line" id="confirm-edit"></i>
                            <i class="ri-close-line" id="cancel-edit"></i>
                        </div>
                
                    </div>
                    
                    <div class="number-check">
                        <div class="check">
                            
                            <input type="checkbox" name="number-document" id="number-document">
                            <label for="number-document">Number my list</label>
                        </div>
                        <div class="check">
                            <input type="checkbox" name="alph-order" id="alph-order">
                        <label for="alph-order">Order list by</label>
                        <select name="order-factor" id="order-factor">
                            <!-- creating options here  -->
                        </select>
                        </div>
                        
                    </div>
                    <div class="m-buttons">
                        <a id="download-link-tag"></a>
                        <button id="download-btn">Download</button>
                        
                        <!-- <button id="cancel-download">Cancel</button> -->
                    </div>
                </div>
            </div>
           
            
            <div class="download-alert">
                <div class="left-content">
                    <i class="ri-file-line"></i>                    
                </div>
                <div class="right-content">
                    <h4 class="remark-message">
                        Downloading.. 
                    </h4>
                    <p class="message">
                        Your download should start automatically. You can now retrieve and customize your document to better suite your needs.
                    </p>
                </div>
                <i class="ri-close-line" id="remove-download-modal"></i>
                <!-- <h4 id="mod-message">Your download should start automaticaly</h4>
                <p>You can now retrieve and customize your document to your better liking</p> -->
            </div>
            
        </div>
    </div>

    <div class="modal-section" id="rev-changes-modal">
        <div class="modal-content rev-changes-modal-content" >
            <i class="ri-close-line" id="close-modal" onclick="restAndRemoveEdit('none')"></i>
            <div class="top-content">
                <h2>Review your changes</h2>
                <p class="alert-msg">You are about to modify the following properties of this poll, lets not make any mistakes.</p>
            </div>

            <div class="changes-container">
                <div class="change">
                    <h4>Description:</h4>
                    <p>This is the description for your poll</p>
                </div>

                <div class="change">
                    <h4>Pollname:</h4>
                    <p>This is the pollname for your poll</p>
                </div>

                <div class="change">
                    <h4>Appended document:</h4>
                    <p>This is the description for your poll</p>
                </div>
            </div>

            <div class="actions-container">
                <button class="button-two" id="btn-save-changes">Save changes</button>
                <button class="button-two back-to-editing" onclick="displayEditModal()">Back to editing</button>

            </div>
        </div>
    </div>
   

    
</form>

    <script src="{% static 'js/components.js' %}"></script>

    <script src="{% static 'js/viewpoll.js' %}"></script>
</body>
</html>